@{
    var user = Gyanmitras.Common.SiteUserSessionInfo.User as GyanmitrasMDL.User.SiteUserInfoMDL;
    var IsUpdatedProfileAlert = (user == null ? true : (user.IsProfilePage ? false : user.IsUpdatedProfileAlert));
}
<!DOCTYPE html>
<html>
<head>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Gyanmitras</title>
    <link rel="apple-touch-icon" href="~/app-assets/images/ico/apple-icon-120.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <!-- BEGIN VENDOR CSS-->

    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/feather/style.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/fonts/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" type="text/css" href="~/app-assets/css/app.css">



    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i%7CQuicksand:300,400,500,700" rel="stylesheet">
    <title>GYANMITRAS</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .modal-content {
            border-radius: 0px !important;
        }
        .btn-dark {
            /*color: #fff;*/
            border-color: #464855;
            background-color: #464855;
        }
        .btn:hover {
            color: #fff !important;
        }

        .btn-sm, .btn-xs {
            padding: 5px 10px;
            font-size: 12px;
            line-height: 1.5;
            border-radius: 3px;
        }

        body {
            height: 100%;
            background-color: #f4f5fa;
            direction: ltr;
        }

        .mylogo {
            height: 58px;
            margin-top: -17px;
            margin-bottom: -14px;
        }

        footer {
            bottom: 0;
            width: 100%;
            padding: 10px 0;
        }

        .copyRightLogin {
            text-align: center;
        }

        .dropbtn {
            background-color: #4CAF50;
            color: white;
            padding: 16px;
            font-size: 16px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 175px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
            }

                .dropdown-content a:hover {
                    background-color: #f1f1f1;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .dropdown:hover .dropbtn {
            background-color: #3e8e41;
        }



        .modalBgLoader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(255,255,255,0.6);
            z-index: 9998;
            overflow: hidden;
        }

        .modalLoaderCenter {
            position: fixed;
            top: 50%;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9999;
            text-align: center;
            margin-top: -114px;
        }

            .modalLoaderCenter span {
                display: block;
                text-align: center;
                font-size: 21px;
                padding-top: 15px;
                color: #000;
            }
    </style>

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);background: white;transition: all 0.5s;z-index: 997;padding: 0px 0;background: #ffffff;border-color: #e2e2e2;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if (user != null)
                {

                    if (user.CategoryId == 3)
                    {
                        <a href='@Url.Action("Index", "Volunteer")' class="navbar-brand" style="color:black !important;">
                            <img class="mylogo" src='@Url.Content("~/app-assets/images/logo/LOGOR.png")' />
                        </a>

                    }
                    else if (user.CategoryId == 2)
                    {
                        <a href='@Url.Action("Index", "Counselor")' class="navbar-brand" style="color:black !important;">
                            <img class="mylogo" src='@Url.Content("~/app-assets/images/logo/LOGOR.png")' />
                        </a>

                    }
                    else if (user.CategoryId == 1)
                    {
                        <a href='@Url.Action("Index", "Student")' class="navbar-brand" style="color:black !important;">
                            <img class="mylogo" src='@Url.Content("~/app-assets/images/logo/LOGOR.png")' />
                        </a>

                    }
                    else
                    {
                        <a href='@Url.Action("Index", "Home")' class="navbar-brand" style="color:black !important;">
                            <img class="mylogo" src='@Url.Content("~/app-assets/images/logo/LOGOR.png")' />
                        </a>
                    }

                }
                else
                {
                    <a href='@Url.Action("Index", "Home")' class="navbar-brand" style="color:black !important;">
                        <img class="mylogo" src='@Url.Content("~/app-assets/images/logo/LOGOR.png")' />
                    </a>
                }

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Resource", "#", new { }, new { @onclick = "$('#myResourceStartUpModal').modal({show: 'true'});", @style = "color:black !important;", @href = "javascript:void(0);" })</li>


                    @if (user != null)
                    {

                        if (user.CategoryId == 1)
                        {
                            <li>
                                <a href="https://gyanmitras.blogspot.com/" style="color:black !important;">Latest News</a>
                                @*@Html.ActionLink("Latest News", "LatestNews", "Student", new { @style = "color:black !important;" })*@

                            </li>
                            if (user.RoleId == 1)
                            {
                                <li>@Html.ActionLink("Crticial Help", "CrticialHelp", "Student", new { @style = "color:black !important;" })</li>
                            }
                            else if (user.RoleId == 2)
                            {
                                <li>@Html.ActionLink("Adoption Request", "AdoptionRequest", "Student", new { @style = "color:black !important;" })</li>
                            }
                        }
                        if (user.CategoryId == 2)
                        {
                            ///
                            if (user.IsAdoptedStudentCounselor)
                            {
                                <li> <a href="Home/CommonChat" style="color:black !important;">Call & Mail</a></li>
                            }
                            else
                            {
                                <li> <a href="Home/CommonChat" style="color:black !important;">Open Query</a></li>
                            }
                            @*<li>@Html.ActionLink("Adopt A New Student", "AdoptAStudent", "Counselor", new { @style = "color:black !important;" })</li>*@
                            @*<li>@Html.ActionLink("Latest News", "LatestNews", "Counselor", new { @style = "color:black !important;" })</li>*@
                            <li> <a href="https://gyanmitras.blogspot.com/" style="color:black !important;">Latest News</a></li>
                            @*<li>@Html.ActionLink("Non-Adopted Student", "Index", "Counselor", new { @style = "color:black !important;" })</li>*@
                        }
                        if (user.CategoryId == 3)
                        {
                            <li>@Html.ActionLink("How To Work", "HowToWork", "Volunteer", new { @style = "color:black !important;" })</li>
                            @*<li>@Html.ActionLink("Latest News", "LatestNews", "Volunteer", new { @style = "color:black !important;" })</li>*@
                            <li> <a href="https://gyanmitras.blogspot.com/" style="color:black !important;">Latest News</a></li>
                        }
                    }
                    else
                    {
                        <li>
                            <a href="https://www.blogger.com/about/?r=2" style="color:black !important;">Latest News</a>
                        </li>
                        @*<li>@Html.ActionLink("Latest News", "LatestNews", "Home", new { @style = "color:black !important;" })</li>*@
                    }
                    <li>@Html.ActionLink("About Us", "About", "Home", new { @style = "color:black !important;" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container ">
        @RenderBody()
        @*******Start Loader******@
        <div class="modalBgLoader" style="display: none"></div>

        <div class="modalLoaderCenter" style="display: none">
            <img src="~/app-assets/images/loader.gif" />
            <span>Please Wait...</span>
        </div>

        @*******End Loader******@
        <hr />
        <footer>

            @Html.ActionLink("Contact Us", "Contact", "Home")
            <br />
            @if (user != null)
            {
                if (user.CategoryId == 3)
                {
                    <a href="https://www.blogger.com/about/?r=2">Blog</a>
                }
            }
            <div class="copyRightLogin">@GyanmitrasLanguages.LocalResources.Resource.LoginFooter</div>

        </footer>


    </div>




    <!-- Modal -->
    <div id="myResourceStartUpModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Select States</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 offset-lg-1">
                            <div class="form-group row">
                                <label class="col-md-4 control-label text-center" for="eventRegInput1">@GyanmitrasLanguages.LocalResources.Resource.State</label>
                                <div class="col-md-8">
                                    @Html.DropDownList("State", new List<SelectListItem>() { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 control-label text-center" for="eventRegInput1">Academic Group</label>
                                <div class="col-md-8">
                                    @Html.DropDownList("Academic_Group", new List<SelectListItem>() { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-md-4 control-label text-center" for="eventRegInput1">Benifit Type</label>
                                <div class="col-md-8">
                                    @Html.DropDownList("Benifit_Type", new List<SelectListItem>() { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control" })
                                </div>
                            </div>

                            <div class="form-actions center">

                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1" href="javascript:void(0)" id="btnsubmit">Submit</a>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @if (user != null)
    {
        if (user.IsUpdatedProfileAlert)
        {
         <!-- Modal -->
            <div id="ProfileWarning" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title"><i class="la la-warning"></i>Profile Completion Alert</h4>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 offset-lg-1">
                                    <div class="form-group row">
                                        <label class="col-md-12 control-label text-left" for="eventRegInput1">
                                            Dear User<br />
                                            Kindly complete your profile before proceed.<br />
                                            @if (user.CategoryId == 1)
                                            {
                                                <a href="/Student/UserProfile">Click Here to proceed</a>
                                            }
                                            else if (user.CategoryId == 2)
                                            {
                                                <a href="/Counselor/UserProfile">Click Here to proceed</a>
                                            }
                                            else if (user.CategoryId == 3)
                                            {
                                                <a href="/Volunteer/UserProfile">Click Here to proceed</a>
                                            }
                                            <br />
                                            <br />
                                            <a href="/Home/LogOff">Logout</a>
                                        </label>
                                    </div>
                                    <div class="form-actions center">

                                    </div>
                                </div>
                            </div>
                            @*<div class="modal-footer">
                                    <a class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1" href="javascript:void(0)" id="btnsubmit">Submit</a>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>

        }
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


    <script>
        $(document).ajaxStart(function () {
            $.ajaxSetup({
                converters: {
                    "text html": function (textValue) {
                        if (textValue) {
                            // Some parsing logic here
                            var script = "<script type='text/javascript' language='javascript' > $.validator.unobtrusive.parse(\"form\");";
                            var scriptend = "\<\/script>";
                            return script + scriptend + " " + textValue;
                        } else {
                            // This will notify a parsererror for current request
                            throw exceptionObject;
                        }
                    }
                }
            });
        });

        @*$(document).ajaxError(function (xhr, props) {
                // debugger;
                if (props.status === 401) {
                    window.location.href = '@Url.Action("Login","Account", new { Area = "" })';
                }
            });*@

        $(function () {
            if ('@IsUpdatedProfileAlert' == 'True') {
                $("#ProfileWarning").modal({
                    backdrop: 'static',
                    keyboard: false,
                    show: true
                });
            }

            // setTimeout() function will be fired after page is loaded
            // it will wait for 5 sec. and then will fire
            // $("#successMessage").hide() function
            setTimeout(function () {
                $("#myAlert").hide('blind', {}, 500)
            }, 10000);


            StateBind();
            $("#btnsubmit").click(function (e) {
                if (!$("#State").val()) {
                    $("#State").focus();
                    alert('State Selection Is Required!');
                    return false;
                    e.preventDefault();
                }
                if (!$("#Academic_Group").val()) {
                    $("#Academic_Group").focus();
                    alert('Academic Group Selection Is Required!');
                    return false;
                    e.preventDefault();
                }
                if (!$("#Benifit_Type").val()) {
                    $("#Benifit_Type").focus();
                    alert('Benifit Type Selection Is Required!');
                    return false;
                    e.preventDefault();
                }

                location.href = window.location.protocol + "//" + window.location.host + "/Home/Resource?State=" + $.trim($("#State").val()) + "&Academic_Group=" + $.trim($("#Academic_Group").val()) + "&Benifit_Type=" + $.trim($("#Benifit_Type").val()) + "";

            });

        });


        /*End  Bind Vehicles By Customer Using Sumo Select  */
        function StateBind() {

            //var input = { countryId: parseInt("1") };
            $.ajax({
                url: "@Url.Action("GetDropsForResource", "Home")",
                //data: JSON.stringify(input),
                datatype: "json",
                async: false,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    if ((data[0].state).length > 0) {
                        for (var i = 0 ; i < (data[0].state).length ; i++) {
                            $("#State").append('<option value = "' + (data[0].state)[i].ID + '">' + (data[0].state)[i].Value + '</option>');
                        }
                    }
                    if ((data[1].academicgroup).length > 0) {
                        for (var i = 0 ; i < (data[1].academicgroup).length ; i++) {
                            $("#Academic_Group").append('<option value = "' + (data[1].academicgroup)[i].ID + '">' + (data[1].academicgroup)[i].Value + '</option>');
                        }
                    }
                    if ((data[2].benifittype).length > 0) {
                        for (var i = 0 ; i < (data[2].benifittype).length ; i++) {
                            $("#Benifit_Type").append('<option value = "' + (data[2].benifittype)[i].ID + '">' + (data[2].benifittype)[i].Value + '</option>');
                        }
                    }

                }
            });
        }


    </script>

</body>
</html>
