@model GyanmitrasMDL.MstCityMDL
@{
    ViewBag.Title = "AddEditCity";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("AddEditCity", "MstCity"))
{
    @Html.HiddenFor(E => E.Pk_CityId)
    @Html.HiddenFor(E => E.Status)

    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title">@GyanmitrasLanguages.LocalResources.Resource.ButtonAddNew @GyanmitrasLanguages.LocalResources.Resource.City</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">@GyanmitrasLanguages.LocalResources.Resource.Home</a> </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index")"> @GyanmitrasLanguages.LocalResources.Resource.City </a> </li>
                            <li class="breadcrumb-item active">@GyanmitrasLanguages.LocalResources.Resource.ButtonAddNew</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="NewformTabs">
                <ul class="nav nav-tabs nav-top-border no-hover-bg">
                    <li class="nav-item"> <a class="nav-link active" id="base-tab11" data-toggle="tab" aria-controls="tab11" href="#tab11" aria-expanded="true">@GyanmitrasLanguages.LocalResources.Resource.City</a> </li>

                </ul>
                <div class="tab-content px-1 py-1">
                    <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="true" aria-labelledby="base-tab11">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <form class="form form-horizontal">
                                    <div class="form-body">
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="eventRegInput3">@GyanmitrasLanguages.LocalResources.Resource.CountryName<span class="red">*</span></label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(E => E.Fk_CountryId, new SelectList((System.Collections.IEnumerable)ViewData["Countrylist"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control Select2" })
                                                @Html.ValidationMessageFor(E => E.Fk_CountryId)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="eventRegInput3">@GyanmitrasLanguages.LocalResources.Resource.StateName<span class="red">*</span></label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(E => E.Fk_StateId, new SelectList(Enumerable.Empty<SelectListItem>(), "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control Select2" })
                                                @Html.ValidationMessageFor(E => E.Fk_StateId)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="eventRegInput3">@GyanmitrasLanguages.LocalResources.Resource.CityName<span class="red">*</span></label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(E => E.CityName, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.CityName, @maxlength = 50 })
                                                @Html.ValidationMessageFor(E => E.CityName)
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">@GyanmitrasLanguages.LocalResources.Resource.Status</label>
                                            <div class="col-md-7">
                                                <select class="form-control" name="CheckStatus" id="Status1">
                                                    <option value="Active" selected="selected">@GyanmitrasLanguages.LocalResources.Resource.Active</option>
                                                    <option value="InActive">@GyanmitrasLanguages.LocalResources.Resource.Inactive</option>
                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-actions center">
                                        <button type="submit" id="btnsubmit" class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1">@GyanmitrasLanguages.LocalResources.Resource.ButtonSubmit</button>
                                        <a href="@Url.Action("Index")" class="btn btn-dark box-shadow-1 round btn-min-width mr-1 mb-1">@GyanmitrasLanguages.LocalResources.Resource.ButtonCancel</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab12" aria-labelledby="base-tab12">
                        <div class="row">
                            <div class="col-lg-10 offset-lg-1">
                                <form class="form form-horizontal">
                                    <div class="form-body">
                                        <input type="hidden" value="@Model.Fk_CountryId" id="hdncountryId" />
                                        <input type="hidden" value="@Model.Fk_StateId" id="hdnStateId" />
                                        <input type="hidden" id="hdnStatus" value="@Model.Status" />

                                    </div>

                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
}
@section scripts {
    @Scripts.Render("~/Admin/bundles/jqueryval")


<link href="~/app-assets/vendors/css/forms/selects/select2.min.css" rel="stylesheet" />
<script src="~/app-assets/vendors/js/forms/select/select2.min.js"></script>
<script type="text/javascript">

    $(document).ready(function (e) {
        $('.Select2').select2();

        if ($('#hdncountryId').val() != '0') {
            BindState($('#hdncountryId').val());
        }
        $('#Fk_CountryId').change(function () {
            $('#hdnStateId').val(0);
            BindState($(this).val());
        });

        if ($('#hdnStatus').val() != null && $('#hdnStatus').val() != '') {
            $("#Status1").val($('#hdnStatus').val()).attr("selected", "selected")
        }

        $('#btnsubmit').click(function (e) {
            validate(e);
            if ($("#Status1 option:selected").val() == "Active") {
                $('#Status').val("Active");

            }
            else {
                $('#Status').val("InActive");
            }

        })
    });
    /*********Bind State According  to Country************************************/

    function BindState(CountryId) {
        var countryId = CountryId;
        $("#Fk_StateId").html("");// clear before appending new list
        $("#Fk_StateId").append(
                   $('<option></option>').val("").html('@GyanmitrasLanguages.LocalResources.Resource.select'));
        if (countryId == "0") {
            return false;
        }
        $.ajax({
            url: "@Url.Action("getstate", "MstCity")",
            type: "GET",
            dataType: "JSON",
            data: { countryid: countryId },
            success: function (states) {
                $.each(states, function (i, state) {
                    $("#Fk_StateId").append(
                        $('<option></option>').val(state.ID).html(state.Value));
                });
                if ($('#hdnStateId').val() != '0') {

                    $('#Fk_StateId').val($('#hdnStateId').val()).attr("selected", "selected");
                }
            }
        });
    }


    function validate(e) {


        if ($('#Fk_CountryId').val().trim() == '' || $('#Fk_CountryId').val().trim() == '0' || $('#Fk_CountryId').val().trim() == null) {
            alert('@GyanmitrasLanguages.LocalResources.Resource.SelectCountryNameValidation');
            e.preventDefault();
            return false;
        }


        if ($('#Fk_StateId').val().trim() == '' || $('#Fk_StateId').val().trim() == '0' || $('#Fk_StateId').val().trim() == null) {
            alert('@GyanmitrasLanguages.LocalResources.Resource.SelectStateNameValidation');
            e.preventDefault();
            return false;
        }


        if ($('#CityName').val().trim() == '' || $('#CityName').val().trim() == '0' || $('#CityName').val().trim() == null) {
            alert('@GyanmitrasLanguages.LocalResources.Resource.CityNameValidation');
            e.preventDefault();
            return false;
        } else {
            var reg = /^[a-zA-Z0-9-_.\s]*$/;
            if ($('#CityName').val().match(reg)) {

            }
            else {
                alert('@GyanmitrasLanguages.LocalResources.Resource.CityInvalid');
                e.preventDefault();
                return false;

            }
        }
    }


</script>


    }




































