@model GyanmitrasMDL.User.VolunteerMDL
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/sumoselect.css" rel="stylesheet" />
<style>
    .control-label, .label-control {
        font-weight: bold;
        text-align: right;
    }

    #tab2Submit {
        color: white;
    }

    .myTableInput {
        margin-left: 15px !important;
        width: 80% !important;
    }
</style>

<h2>@ViewBag.Title.</h2>
<hr />
@using (Html.BeginForm("Registration", "Volunteer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(E => E.PK_VolunteerId)
    @Html.HiddenFor(E => E.ImageName)

    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">@GyanmitrasLanguages.LocalResources.Resource.Home</a> </li>
                            <li class="breadcrumb-item active">Volunteer Registration</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="NewformTabs">
                <div class="tab-content px-1 py-1">
                    <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="true" aria-labelledby="base-tab11">
                        <div class="row">
                            <div class="col-lg-12 offset-lg-1">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 mt-1 mb-2">
                                            <h4>Details</h4>
                                            <hr>
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.Name<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.Name, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.Name, @maxlength = "200" })
                                            @Html.ValidationMessageFor(E => E.Name)
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.Email<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.EmailID, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.Email, @maxlength = "200" })

                                            @Html.ValidationMessageFor(E => E.EmailID)
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.MobileNo.<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.MobileNo, new { @class = "form-control ", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.MobileNo + ".", @maxlength = "15", @onkeydown = "return IsNum(event)" })

                                            @Html.ValidationMessageFor(E => E.MobileNo)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-md-3 label-control">@GyanmitrasLanguages.LocalResources.Resource.AlternateMobileNo. (If any provide   Whatsapp no))</label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.AlternateMobileNo, new { @class = "form-control isMobile", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.AlternateMobileNo + ".", @maxlength = "15", @onkeydown = "return IsNum(event)" })
                                            @Html.ValidationMessageFor(E => E.AlternateMobileNo)
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 mt-1 mb-2">
                                            <h4>@GyanmitrasLanguages.LocalResources.Resource.AddressDetail</h4>

                                            <hr>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.Address<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(E => E.Address, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.Address, @maxlength = "200" })
                                            @Html.ValidationMessageFor(E => E.Address)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.ZipCode<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.ZipCode, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.ZipCode, @maxlength = "10" })

                                            @Html.ValidationMessageFor(E => E.ZipCode)
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.State<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(E => E.FK_StateId, new List<SelectListItem>() { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control select2" })

                                            @Html.ValidationMessageFor(E => E.FK_StateId)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.City<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(E => E.FK_CityId, new List<SelectListItem>() { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control select2" })

                                            @Html.ValidationMessageFor(E => E.FK_CityId)
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.BillingAddressSame</label>
                                        <div class="col-md-7">
                                            @Html.DropDownList("dropBillingAddress", new List<SelectListItem>
                                                () {
                                                new SelectListItem() {
                                                Text = @GyanmitrasLanguages.LocalResources.Resource.select,Value = ""
                                                },

                                                new SelectListItem() {
                                                Text = @GyanmitrasLanguages.LocalResources.Resource.Yes,Value = "1"
                                                },

                                                new SelectListItem() {
                                                Text =@GyanmitrasLanguages.LocalResources.Resource.No,Value = "0"
                                                }
                                                }, new { @class = "form-control" })
                                          
                                        </div>
                                    </div>

                                    <div style="display:none" id="divBillingAddress">

                                        <div class="form-group row">
                                            <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.BillingAddress<span class="red">*</span></label>
                                            <div class="col-md-7">
                                                @Html.TextAreaFor(E => E.BillingAddress, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.BillingAddress, @maxlength = "100" })

                                                @Html.ValidationMessageFor(E => E.BillingAddress)
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.ZipCode<span class="red">*</span></label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(E => E.ZipCode_Billing, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.ZipCode, @maxlength = "10" })

                                                @Html.ValidationMessageFor(E => E.ZipCode_Billing)
                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.State<span class="red">*</span></label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(E => E.FK_StateId_Billing, new List<SelectListItem>() { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control" })

                                                @Html.ValidationMessageFor(E => E.FK_StateId_Billing)
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.City<span class="red">*</span></label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(E => E.FK_CityId_Billing, new List<SelectListItem>() { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control" })

                                                @Html.ValidationMessageFor(E => E.FK_CityId_Billing)
                                            </div>
                                        </div>

                                    </div>





                                    <div class="row">
                                        <div class="col-12 mt-1 mb-2">
                                            <h4>@GyanmitrasLanguages.LocalResources.Resource.AccountDetails</h4>

                                            <hr>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 control-label" for="eventRegInput1">Your User ID<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.UID, new { @class = "form-control ", @maxlength = "15", @placeholder = "Please enter your User ID" })
                                            @Html.ValidationMessageFor(E => E.UID)
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label class="col-md-3 control-label" for="eventRegInput1">Your Password<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.Password, new { @class = "form-control ", @maxlength = "15", @placeholder = "Please enter your Password" })
                                            @Html.ValidationMessageFor(E => E.Password)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 control-label" for="eventRegInput1">Re-Enter Password<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBox("RePassword", "", new { @class = "form-control ", @maxlength = "15", @placeholder = "Please enter your Password" })
                                            @Html.ValidationMessageFor(E => E.Password)
                                        </div>
                                    </div>







                                    <div class="row">
                                        <div class="col-12 mt-1 mb-2">
                                            <h4>Other Details</h4>
                                            <hr>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Area Of Interest To Search<span class="red">*</span></label>
                                        <div class="col-md-7">

                                            @Html.DropDownListFor(E => E.AreaOfSearch,
                                                new List<SelectListItem>() {
                                                    new SelectListItem() {Text = "----Select----",Value = ""},
                                                    new SelectListItem() {Text = "State",Value = "StateSearch"},
                                                     new SelectListItem() {Text ="District",Value = "DistrictSearch"}
                                                    }
                                           , new
                                           {
                                               @class = "form-control"

                                             ,  @placeholder = @GyanmitrasLanguages.LocalResources.Resource.select
                                           ,
                                               @onchange = "myAreaOfSearch(this)"
                                           })


                                            @Html.ValidationMessageFor(E => E.AreaOfSearch)
                                        </div>
                                    </div>

                                  


                                    <div class="form-group row" id="StateSearch" >
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.State<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(E => E.FK_State_AreaOfSearch, new List<SelectListItem>() { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control select2" })

                                            @Html.ValidationMessageFor(E => E.FK_State_AreaOfSearch)
                                        </div>
                                    </div>


                                    <div class="form-group row" id="DistrictSearch" >
                                        <label class="control-label col-md-3">District<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(E => E.FK_District_AreaOfSearch, new List<SelectListItem>() { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control select2" })

                                            @Html.ValidationMessageFor(E => E.FK_District_AreaOfSearch)
                                        </div>
                                    </div>

                                   

                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="eventRegInput3">Your Image</label>
                                        <div class="col-md-7">
                                            <div class="custom-file">
                                                @Html.TextBoxFor(E => E.Image, new { @type = "file", @class = "form-control", @onchange = "document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" })
                                                @Html.ValidationMessageFor(E => E.Image)


                                                Your Image Should be in (jpg, jpeg, png) format.
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            @if (string.IsNullOrEmpty(Model.ImageName))
                                            {
                                            <img style="height:40px;width:40px;" id="blah" src="~/Images/default-image.png" />
                                            }
                                            else
                                            {
                                            <img style="height:40px;width:40px;" id="blah" src="~/App_Doc/User/CounselorImages/@Model.ImageName" />
                                            }

                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 label-control" for="eventRegInput3"></label>
                                        <div class="col-md-7">

                                            @Html.CheckBoxFor(E => E.Declaration)
                                            <span class="red">*</span>I hereby declare that information’s provided by me is valid and I will be only liable to handle concerns evolved due to misleading information’s provided by me either now or at any subsequent stages. Refer Terms and conditions of volunteer (Provide a hyperlink which data I will provide later )
                                            @Html.ValidationMessageFor(E => E.Declaration)


                                        </div>
                                    </div>

                                </div>



                                <div class="form-actions center">
                                    @*<a href="customer.html" class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1">Submit</a>
                                        <a href="customer.html" class="btn btn-dark box-shadow-1 round btn-min-width mr-1 mb-1">Cancel</a>*@
                                    <button type="submit" class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1">@GyanmitrasLanguages.LocalResources.Resource.ButtonSubmit</button>
                                    <a href='@Url.Action("Registration")' class="btn btn-dark box-shadow-1 round btn-min-width mr-1 mb-1">Clear</a>
                                </div>
                                @*</form>*@

                            </div>
                        </div>
                    </div>


                </div>
            </section>
        </div>
    </div>



}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/js/jquery.sumoselect.js"></script>
    <link href="~/app-assets/vendors/css/forms/selects/select2.min.css" rel="stylesheet" />
    <script src="~/app-assets/vendors/js/forms/select/select2.min.js"></script>



    <style>
        .field-validation-error, .red {
            color: red;
        }
    </style>
    <script type="text/javascript">
        var mycategoryval = new Array();
        var mycategorytext = new Array();
        $(document).ready(function () {
            $("#StateSearch").slideUp(500);
            $("#DistrictSearch").slideUp(500);
            StateBind();
            $(".select2").select2();
            $("#dropBillingAddress").change(function () {
                if ($(this).val() == "0") {
                    $("#divBillingAddress").slideDown(500);
                }
                else {
                    $("#divBillingAddress").slideUp(500);
                }
            });


            $("#LikeAdoptStudentLater,#HavePC").val('');
            //$("#StudentDivTable,#RetiredDivTable,#EmployedDivTable").find("h4").click(function () {
            //    var myaction =  $(this).attr('myaction');
            //    $(this).closest('tr').parent().find('tr').each(function () {
            //        if (!$(this).find('h4'))
            //        {
            //            if (!myaction) {
            //                $(this).slideDown(500);
            //            }
            //            else {
            //                $(this).slideUp(500);
            //            }
            //        }
            //    });
            //});

            //$("#StudentDivTable,#RetiredDivTable,#EmployedDivTable > tbody > tr").each(function () {
            //    var myaction = false;
            //    if ($(this).find('td').length > 1) {

            //        if (!myaction) {
            //            $(this).slideUp(500);
            //        }
            //        else {
            //            $(this).slideDown(500);
            //        }
            //    }
            //});


            //$("#dropBillingAddress").change(function () {
            //    if ($(this).val() == "0") {
            //        $("#divBillingAddress").slideDown(500);

            //    }
            //    else {

            //        $("#divBillingAddress").slideUp(500);
            //    }
            //});


            $("button[type='submit']").click(function (e) {
                alert('Comming Soon!');
                return false;
            });




            $("#FK_StateId,#FK_StateId_Billing").change(function () {
                var cid = $(this).val();
                var thisId = $(this).attr('id');
                if (thisId == "FK_StateId") {
                    $("#FK_CityId").empty();
                    $("#FK_CityId").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
                }
                else if (thisId == "FK_StateId_Billing") {
                    $("#FK_CityId_Billing").empty();
                    $("#FK_CityId_Billing").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
                }

                var input = { stateId: parseInt(cid) };
                $.ajax({
                    url: "@Url.Action("GetCityDetailsByStateId", "MSTAccount")",
                    data: JSON.stringify(input),
                    datatype: "json",
                    type: "POST",
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var Machinelist = new Array();
                        if (data.length == 0) {
                            $(this).val('');
                        }
                        else {
                            if (thisId == "FK_StateId") {
                                for (var i = 0 ; i < data.length ; i++) {
                                    $("#FK_CityId").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                                }
                            }
                            else if (thisId == "FK_StateId_Billing") {
                                for (var i = 0 ; i < data.length ; i++) {
                                    $("#FK_CityId_Billing").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                                }
                            }
                        }
                    }


                });
            });
            $('#LikeAdoptStudentLater').change(function () {
                if ($(this).val() == '1') {
                    $('#LikeAdoptStudentLaterTermCon').slideDown(500);
                }
                else {
                    $('#LikeAdoptStudentLaterTermCon').slideUp(500);
                }
            });

            $('INPUT[type="file"]').change(function () {

                var ext = this.value.substr(this.value.lastIndexOf('.') + 1, this.value.length);
                switch (ext.toLowerCase()) {
                    case 'jpg':
                        break;
                    case 'jpeg':
                        break;
                    case 'png':
                        break;

                    default:
                        alert('@GyanmitrasLanguages.LocalResources.Resource.InvalidLogo');
                        this.value = '';
                }
            });





        })//Page Load End



        function StateBind() {
            $("#FK_StateId,#FK_StateId_Billing,#FK_State_AreaOfSearch,#FK_District_AreaOfSearch").empty();
            $("#FK_StateId,#FK_StateId_Billing,#FK_State_AreaOfSearch,#FK_District_AreaOfSearch").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
           
            var input = { countryId: parseInt("1") };
            $.ajax({
                url: "@Url.Action("GetStateDetailsByCountryId", "MSTAccount")",
                data: JSON.stringify(input),
                datatype: "json",
                async: false,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var Machinelist = new Array();
                    if (data.length == 0) {
                        $(this).val('');
                    }
                    else {
                        for (var i = 0 ; i < data.length ; i++) {
                            $("#FK_StateId,#FK_StateId_Billing,#FK_State_AreaOfSearch,#FK_District_AreaOfSearch").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                        }
                    }
                }
            });
        }

        function CheckUserName(a) {
            if ($.trim($(a).val())) {
                $.ajax({
                    url: "@Url.Action("CheckUser", "MSTAccount")",
                    type: "GET",
                    dataType: "JSON",
                    data: { username: $.trim($(a).val()), type: "Counselor" },
                    success: function (data) {
                        if (Number(data.MessageId) == 1) {
                            $(a).css('border', '1px solid red');
                            $(a).val('');
                            //$(a).focus();
                            $(a).parent().find('span[data-valmsg-for="Username"]').text('@GyanmitrasLanguages.LocalResources.Resource.UserAlreadyExist').css('color', 'red');
                        }
                        else {
                            $(a).removeAttr('style');
                            $(a).parent().find('span[data-valmsg-for="Username"]').text('');
                        }
                    }
                });
            }
        }
        function IsNum(event) {
            // Prevent shift key since its not needed
            if (event.shiftKey == true) {
                //alert('Only number allowed.');

                event.preventDefault();
                return false;
            }
            // Allow Only: keyboard 0-9, numpad 0-9, backspace, tab, left arrow, right arrow, delete
            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) {
                // Allow normal operation
            } else {
                // Prevent the rest
                alert('@GyanmitrasLanguages.LocalResources.Resource.OnlyNumber');
                event.preventDefault();
                return false;
            }
        }


        function myAreaOfSearch(a)
        {
            if ($(a).val() == "StateSearch")
            {
                $("#StateSearch").slideDown(500);
                $("#DistrictSearch").slideUp(500);
                $("#DistrictSearch").val("");
            }
            else if ($(a).val() == "DistrictSearch")
            {
                $("#DistrictSearch").slideDown(500);
                $("#StateSearch").slideUp(500);
                $("#StateSearch").val("");
            }
        }


    </script>
}
