
@{
    
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@ViewBag.Title.</h2>
<hr />
@using (Html.BeginForm("StudentRegistration", "Volunteer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-12 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">@GyanmitrasLanguages.LocalResources.Resource.Home</a> </li>
                        <li class="breadcrumb-item active">Student Registration</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <section class="NewformTabs">
            <div class="tab-content px-1 py-1">
                <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="true" aria-labelledby="base-tab11">
                    <div class="row">
                        <div class="col-lg-12 offset-lg-1">
                            <div class="form-body">
                              

                                <div class="form-group row">
                                    <label class="control-label col-md-3">Name Of Student<span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBox("NameOfStudent", null, new { @class = "form-control", @placeholder = "Name Of Student", @maxlength = "200" })
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Contact of student<span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBox("ContactOfStudent", null, new { @class = "form-control", @placeholder = "Contact of student", @maxlength = "200" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">Guardian’s Contact <span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBox("GuardiansContact ", null, new { @class = "form-control", @placeholder = "Guardian’s Contact ", @maxlength = "200" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3"> Email ID <span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBox("EmailID", null, new { @class = "form-control", @placeholder = "Email ID", @maxlength = "200" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3"> Address <span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextArea("Address ", null, new { @class = "form-control", @placeholder = "Address", @maxlength = "200" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3"> Do you have smartphone? <span class="red">*</span></label>
                                    <div class="col-md-7">
                                       
                                        Yes: @Html.RadioButton("HaveSmartphone", "true", false, new { @Name = "HaveSmartphone" })
                                        No: @Html.RadioButton("HaveSmartphone", "false", false, new { @Name = "HaveSmartphone" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3"> Do you have a PC? <span class="red">*</span></label>
                                    <div class="col-md-7">
                                       
                                        Yes: @Html.RadioButton("HavePC", "true", false, new { @Name = "HavePC" })
                                        No: @Html.RadioButton("HavePC", "false", false, new { @Name = "HavePC" })
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3"> Do you want to be adopted academically? <span class="red">*</span></label>
                                    <div class="col-md-7">
                                        Yes: @Html.RadioButton("WantAdoptedAcademically", "true", false, new { @Name = "WantAdoptedAcademically" })
                                        No: @Html.RadioButton("WantAdoptedAcademically", "false", false, new { @Name = "WantAdoptedAcademically" })
                                    </div>
                                </div>

                            </div>

                            <div class="form-actions center">
                                
                                <button type="submit" class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1">@GyanmitrasLanguages.LocalResources.Resource.ButtonSubmit</button>
                                <a href='@Url.Action("Index")' class="btn box-shadow-1 round btn-min-width mr-1 mb-1">Clear</a>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </section>
    </div>
</div>
}
<style>
    .red {
        color:red;
    }
    .control-label {
    text-align:right;
    }
</style>





