
@{
  
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">@ViewBag.Title</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","MSTAccount")">@GyanmitrasLanguages.LocalResources.Resource.Home</a> </li>
                        <li class="breadcrumb-item"><a href="@Url.Action("Index","ModulesHelpDesk")">Management Page Contant</a> </li>

                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>

    </div>
</div>
