@model GyanmitrasMDL.User.CounselorMDL
@{
    var user = Gyanmitras.Common.SiteUserSessionInfo.User as GyanmitrasMDL.User.SiteUserInfoMDL;
    bool IsProfileFirstTime = user.IsUpdatedProfileAlert;
    bool IsProfile = false;
    if (ViewBag.type == "Edit")
    {
        IsProfile = true;
    }
    else if (IsProfileFirstTime)
    {
        IsProfile = false;
    }

}
<link href="/assets/css/sumoselect.css" rel="stylesheet" />
<link href="/app-assets/vendors/css/forms/selects/select2.min.css" rel="stylesheet">

<style>
    .control-label, .label-control {
        font-weight: bold;
        text-align: right;
    }

    #tab2Submit {
        color: white;
    }

    .myTableInput {
        margin-left: 15px !important;
        width: 80% !important;
    }

    .field-validation-error, .red {
        color: red;
    }
</style>
@Html.HiddenFor(E => E.PK_CounselorID)
@Html.HiddenFor(E => E.ImageName)

<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-12 col-12 mb-2">
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="@Url.Action(" Index","Home")">@GyanmitrasLanguages.LocalResources.Resource.Home</a> </li>
                        <li class="breadcrumb-item active">@ViewBag.Title</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="content-body">
        <section class="NewformTabs">
            <div class="tab-content px-1 py-1">
                <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="true" aria-labelledby="base-tab11">
                    <div class="row">
                        <div class="col-lg-12 offset-lg-1">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-12 mt-1 mb-2">
                                        <h4>Details</h4>
                                        <hr>
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.Name<span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(E => E.Name, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.Name, @maxlength = "200" })
                                        @Html.ValidationMessageFor(E => E.Name)
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.Email<span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(E => E.EmailID, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.Email, @maxlength = "200", @readonly = "readonly" })

                                        @Html.ValidationMessageFor(E => E.EmailID)
                                    </div>
                                </div>


                                <div class="form-group row">
                                    <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.MobileNo.<span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(E => E.MobileNo, new { @class = "form-control ", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.MobileNo + ".", @maxlength = "10", @onkeydown = "return IsNum(event)" })

                                        @Html.ValidationMessageFor(E => E.MobileNo)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-md-3 label-control">@GyanmitrasLanguages.LocalResources.Resource.AlternateMobileNo.</label>
                                    <div class="col-md-7">
                                        @Html.TextBoxFor(E => E.AlternateMobileNo, new { @class = "form-control isMobile", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.AlternateMobileNo + ".", @maxlength = "10", @onkeydown = "return IsNum(event)" })
                                        @Html.ValidationMessageFor(E => E.AlternateMobileNo)
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 mt-1 mb-2">
                                        <h4>@GyanmitrasLanguages.LocalResources.Resource.AddressDetail</h4>

                                        <hr>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.Address<span class="red">*</span></label>
                                    <div class="col-md-7">
                                        @Html.TextAreaFor(E => E.Address, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.Address, @maxlength = "200" })
                                        @Html.ValidationMessageFor(E => E.Address)
                                    </div>
                                </div>
                                @if (!IsProfile)
                                {
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.ZipCode<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.ZipCode, new { @class = "form-control", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.ZipCode, @maxlength = "6" })

                                            @Html.ValidationMessageFor(E => E.ZipCode)
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.State<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(E => E.FK_StateId, new List<SelectListItem>
                                          () { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control select2" })

                                            @Html.ValidationMessageFor(E => E.FK_StateId)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="control-label col-md-3">@GyanmitrasLanguages.LocalResources.Resource.City<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(E => E.FK_CityId, new List<SelectListItem>
                                          () { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control select2" })

                                            @Html.ValidationMessageFor(E => E.FK_CityId)
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Language Known<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(E => E.languages, new List<SelectListItem>() { new SelectListItem() { Value = "", Text = @GyanmitrasLanguages.LocalResources.Resource.select } }, new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(E => E.languages)
                                        </div>
                                    </div>
                                }
                               

                                    <div class="row">
                                        <div class="col-12 mt-1 mb-2">
                                            <h4>@GyanmitrasLanguages.LocalResources.Resource.AccountDetails</h4>

                                            <hr>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 control-label" for="eventRegInput1">Your User ID<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.UID, new { @class = "form-control ", @maxlength = "30", @placeholder = "Please enter your User ID"})
                                            @Html.ValidationMessageFor(E => E.UID)
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <label class="col-md-3 control-label" for="eventRegInput1">Your Password<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.Password, new { @class = "form-control ", @maxlength = "30", @placeholder = "Please enter your Password" })
                                            @Html.ValidationMessageFor(E => E.Password)
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label class="col-md-3 control-label" for="eventRegInput1">Re-Enter Password<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextBoxFor(E => E.ConfirmPassword, new { @class = "form-control ", @maxlength = "30", @placeholder = "Please enter your Password" })
                                            @Html.ValidationMessageFor(E => E.ConfirmPassword)
                                        </div>
                                    </div>

                             

                                <div class="row">
                                    <div class="col-12 mt-1 mb-2">
                                        <h4>Other Details</h4>
                                        <hr>
                                    </div>
                                </div>

                                @if (!IsProfile)
                                {
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Area Of Interest<span class="red">*</span></label>
                                        <div class="col-md-7">

                                            @Html.DropDownListFor(E => E.AreaOfInterestIds, new SelectList(Enumerable.Empty<SelectListItem>
                                             (), "ID", "Value"), new { @class = "form-control ddlMultiSlectBox", @multiple = "multiple", @placeholder = @GyanmitrasLanguages.LocalResources.Resource.select })


                                            @Html.ValidationMessageFor(E => E.AreaOfInterestIds)
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Are You<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.DropDownListFor(E => E.AreYou, new List<SelectListItem>
                                             () {
                                                new SelectListItem() {Text = @GyanmitrasLanguages.LocalResources.Resource.select,Value = ""},
                                                new SelectListItem() {Text = "Student",Value = "StudentDiv"},
                                                new SelectListItem() {Text ="Employed",Value = "EmployedDiv"},
                                                new SelectListItem() {Text ="Retired",Value = "RetiredDiv"}
                                                }, new
                                                {
                                                    @class = "form-control select2"
                                                })
                                            @Html.ValidationMessageFor(E => E.AreYou)
                                        </div>
                                    </div>
                                }
                                <div class="form-group row">
                                    <label class="col-md-3 label-control" for="eventRegInput3">Your Image</label>
                                    <div class="col-md-7">
                                        <div class="custom-file">
                                            @Html.TextBoxFor(E => E.Image, new { @type = "file", @class = "form-control", @onchange = "document.getElementById('Img').src = window.URL.createObjectURL(this.files[0])" })
                                            @Html.ValidationMessageFor(E => E.Image)


                                            Your Image Should be in (jpg, jpeg, png) format.
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        @if (string.IsNullOrEmpty(Model.ImageName))
                                        {
                                            <img style="height:40px;width:40px;" id="Img" src="~/SiteUserContents/default-image.png" />
                                        }
                                        else
                                        {
                                            <img style="height:40px;width:40px;" id="Img" src="~/SiteUserContents/Registration/CounselorImages/@Model.ImageName" />
                                        }

                                    </div>
                                </div>

                                @if (!IsProfile)
                                {
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Why do you want to join us?<span class="red">*</span></label>
                                        <div class="col-md-7">
                                            @Html.TextAreaFor(E => E.JoinUsDescription, new { @class = "form-control", @placeholder = "Why do you want to join us?", @maxlength = "200" })
                                            @Html.ValidationMessageFor(E => E.JoinUsDescription)
                                        </div>
                                    </div>
                                }
                                <div class="form-group row">
                                    <label class="control-label col-md-3">Do You Have A PC</label>
                                    <div class="col-md-7">
                                        Yes: @Html.RadioButtonFor(E => E.HavePC, true)
                                        No: @Html.RadioButtonFor(E => E.HavePC, false)
                                        @Html.ValidationMessageFor(E => E.HavePC)
                                    </div>
                                </div>
                                @if (!IsProfile)
                                {
                                    <div class="form-group row">
                                        <label class="control-label col-md-3">Would You Like To Adopt A Student Later?</label>
                                        <div class="col-md-7">

                                            Yes: @Html.RadioButtonFor(E => E.LikeAdoptStudentLater, true)
                                            No: @Html.RadioButtonFor(E => E.LikeAdoptStudentLater, false)
                                            @Html.ValidationMessageFor(E => E.LikeAdoptStudentLater)
                                        </div>
                                    </div>

                                    <div id="LikeAdoptStudentLaterTermCon">
                                        <span class="red">*</span>
                                        <div class="col-md-12">

                                            @Html.CheckBoxFor(E => E.Declaration)
                                            I hereby declare that information’s provided by me is valid and I will be
                                            only liable to handle concerns evolved due to misleading information’s
                                            provided by me either now or at any subsequent stages.
                                            <br /> @*<a href="#">
                                                    Terms and conditions of academic adoption by a counselor
                                                </a>*@
                                            @Html.ValidationMessageFor(E => E.Declaration)

                                        </div>

                                    </div>
                                }




                                <div class="form-actions " style="text-align:center;">
                                    @*<a href="customer.html" class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1">Submit</a>
                                        <a href="customer.html" class="btn btn-dark box-shadow-1 round btn-min-width mr-1 mb-1">Cancel</a>*@
                                    <button type="submit" id="btnSubmitCounselor" class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1">@GyanmitrasLanguages.LocalResources.Resource.ButtonSubmit</button>
                                    <a href='@Url.Action("Registration")' class="btn btn-default">Clear</a>
                                </div>
                                @*</form>*@

                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </section>
    </div>
</div>

<div id="EmployedDiv" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 90% !important;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You Are Employed</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 offset-lg-1">

                        <div class="form-actions center">
                            <div>

                                <div class="table-responsive">
                                    <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover" id="EmployedDivTable" width="100%" style="cursor:auto">
                                        <tbody>
                                            <tr>
                                                <td colspan="5">
                                                    <div class="row">
                                                        <div class="col-12 mt-1 ">
                                                            <h4 style="margin-left: 15px;">Expertise Details<span class="red">*</span></h4>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <div class="row">
                                                        <div class="col-12 mt-1 ">

                                                            @Html.DropDownListFor(E => E.Expertise_Details, new SelectList((System.Collections.IEnumerable)ViewData["EmployedExpertiseDetailsList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.Expertise_Details)
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="Javascript:Void();" class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1" id="btnSubmitEmployedDiv">Submit</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>



<div id="RetiredDiv" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 90% !important;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You Are Retired</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 offset-lg-1">

                        <div class="form-actions center">
                            <div>

                                <div class="table-responsive">
                                    <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover" id="RetiredDivTable" width="100%" style="cursor:auto">
                                        <tbody>
                                            <tr>
                                                <td colspan="5">
                                                    <div class="row">
                                                        <div class="col-12 mt-1 ">
                                                            <h4 style="margin-left: 15px;">Expertise Details<span class="red">*</span></h4>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="5">
                                                    <div class="row">
                                                        <div class="col-12 mt-1 ">



                                                            @Html.DropDownListFor(E => E.Retired_Expertise_Details, new SelectList((System.Collections.IEnumerable)ViewData["RetiredExpertiseDetailsList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.Expertise_Details)
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="Javascript:Void();" class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1" id="btnSubmitRetiredDiv">Submit</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>


<div id="StudentDiv" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 90% !important;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">You Are Student</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 offset-lg-1">

                        <div class="form-actions center">
                            <div>

                                <div class="table-responsive">
                                    <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover" id="StudentDivTable" width="100%" style="cursor:auto">
                                        <tbody id="tbodyStudentForm">
                                            <tr onclick="ShowHideTR(this)" rowid="0" bool="true" style="cursor:pointer">
                                                <td colspan="5">
                                                    <div class="row">
                                                        <div class="col-12 mt-1 ">
                                                            <h4 style="margin-left: 15px;">Matriculation Details<span class="red">*</span></h4>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">
                                                    <div class="row">
                                                        <div class="col-4 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Board</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <div class="row">
                                                        <div class="col-4 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Percentage</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-4 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Year Of Passing</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="2">
                                                    <div class="row">
                                                        <div class="col-4 mt-1 ">
                                                            @Html.DropDownListFor(E => E.Secondry_Education_Board, new SelectList((System.Collections.IEnumerable)ViewData["BoardList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.Secondry_Education_Board)
                                                        </div>
                                                    </div>
                                                </td>
                                                <td colspan="2">
                                                    <div class="row">
                                                        <div class="col-4 mt-1 ">
                                                            @Html.TextBoxFor(E => E.Secondry_Percentage, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.Secondry_Percentage)
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>

                                                    <div class="row">
                                                        <div class="col-4 mt-1 ">
                                                            @Html.DropDownListFor(E => E.Secondry_Year_of_Passing, new SelectList((System.Collections.IEnumerable)ViewData["YearList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.Secondry_Year_of_Passing)
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="5">
                                                    <div class="row">
                                                        <div class="col-12 mt-1 ">
                                                            <h4 style="margin-left: 15px;">Intermediate Details<span class="red">*</span></h4>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Board</h5>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Stream</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Percentage</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Year Of Passing</h5>
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>


                                            <tr>
                                                <td colspan="2">
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            @Html.DropDownListFor(E => E.HigherSecondry_Education_Board, new SelectList((System.Collections.IEnumerable)ViewData["BoardList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.HigherSecondry_Education_Board)
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            @Html.DropDownListFor(E => E.HigherSecondry_StreamType, new List<SelectListItem>
             () {
                                                                    new SelectListItem() { Text="Commerce",Value="1" },
                                                                    new SelectListItem() { Text="Science",Value="2" },
                                                                    new SelectListItem() { Text="Biology",Value="3" },
                                                                    new SelectListItem() { Text="Arts",Value="4" }
                                                                    }, @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.HigherSecondry_StreamType)
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>

                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            @Html.TextBoxFor(E => E.HigherSecondry_Percentage, "", new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.HigherSecondry_Percentage)
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            @Html.DropDownListFor(E => E.HigherSecondry_Year_of_Passing, new SelectList((System.Collections.IEnumerable)ViewData["YearList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.HigherSecondry_Year_of_Passing)
                                                        </div>
                                                    </div>
                                                </td>

                                            </tr>

                                            <tr>
                                                <td colspan="5">
                                                    <div class="row">
                                                        <div class="col-12 mt-1 ">
                                                            <h4 style="margin-left: 15px;">Graduation<span class="red">*</span></h4>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">University</h5>

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Stream</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Course</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Percentage</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Year Of Passing</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-4 mt-1 ">
                                                            @Html.TextBoxFor(E => E.Graduation_UniversityName, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.Graduation_UniversityName)

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.DropDownListFor(E => E.Graduation_StreamType, new SelectList((System.Collections.IEnumerable)ViewData["StreamListgraduation"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.Graduation_StreamType)
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.TextBoxFor(E => E.Graduation_CourseName, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.Graduation_CourseName)
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.TextBoxFor(E => E.Graduation_Percentage, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.Graduation_Percentage)
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.DropDownListFor(E => E.Graduation_Year_of_Passing, new SelectList((System.Collections.IEnumerable)ViewData["YearList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                            @Html.ValidationMessageFor(E => E.Graduation_Year_of_Passing)
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="5">
                                                    <div class="row">
                                                        <div class="col-12 mt-1 ">
                                                            <h4 style="margin-left: 15px;">Post-Graduation details</h4>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">University</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Stream</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Course</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Percentage</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Year Of Passing</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-4 mt-1 ">

                                                            @Html.TextBoxFor(E => E.PostGraduation_UniversityName, new { @class = "form-control myTableInput" })

                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.DropDownListFor(E => E.PostGraduation_StreamType, new SelectList((System.Collections.IEnumerable)ViewData["StreamListpostgraduation"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.TextBoxFor(E => E.PostGraduation_CourseName, new { @class = "form-control myTableInput" })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.TextBoxFor(E => E.PostGraduation_Percentage, new { @class = "form-control myTableInput" })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.DropDownListFor(E => E.PostGraduation_Year_of_Passing, new SelectList((System.Collections.IEnumerable)ViewData["YearList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td colspan="5">
                                                    <div class="row">
                                                        <div class="col-12 mt-1 ">
                                                            <h4 style="margin-left: 15px;">Doctoral details</h4>

                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">University</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Specification</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Year Of Passing</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">NET/JRF</h5>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-3 mt-1 ">
                                                            <h5 style="margin-left: 15px;">Extra works </h5>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-4 mt-1 ">
                                                            @Html.TextBoxFor(E => E.Docterate_UniversityName, new { @class = "form-control myTableInput" })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.TextBoxFor(E => E.Specification, new { @class = "form-control myTableInput" })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.DropDownListFor(E => E.Docterate_Year_of_Passing, new SelectList((System.Collections.IEnumerable)ViewData["YearList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control myTableInput" })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.TextBoxFor(E => E.NET_JRF_Percentage, new { @class = "form-control myTableInput" })
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="row">
                                                        <div class="col-2 mt-1 ">
                                                            @Html.TextAreaFor(E => E.Extra_work, new { @rows = "1", @class = "form-control myTableInput" })
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                        </tbody>
                                    </table>

                                </div>


                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="Javascript:Void();" class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1" id="btnSubmitStudentDiv">Submit</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

<input type="hidden" id="hd_AreaOfInterest" value="@Model.AreaOfInterest" />

<script src="/Scripts/jquery-1.10.2.js"></script>
<script src="/Scripts/bootstrap.js"></script>
<script src="/Scripts/respond.js"></script>
<script src="/Scripts/jquery.validate.js"></script>
<script src="/Scripts/jquery.validate.unobtrusive.js"></script>

<script type="text/javascript">
    $(function () {
        debugger;
        
        if ('@ViewBag.Message') {
            alert('@ViewBag.Message');
            if ('@ViewBag.IsProfileFirstTime' == "True") {
                location.href = window.location.protocol + "//" + window.location.host + '/Home/LogOff';
            }
            else if ('@ViewBag.Redirect' == "Yes") {
                location.href = window.location.protocol + "//" + window.location.host + '/Counselor/Index';
            }
            else {
                location.href = window.location.protocol + "//" + window.location.host + '/Home/Index';
            }
        }

    });
    var mycategoryval = new Array();
    var mycategorytext = new Array();
    $(document).ready(function () {


        $("#PostGraduation_Year_of_Passing,#Docterate_Year_of_Passing").append("<option value='Pursuing'>Pursuing</option>");
        BindAreaOfInterest("counselor");
        StateBind1();
        $(".select2").select2();

        $("#AreYou").change(function () {
            var type = $("#AreYou").val();
            if (type == "StudentDiv") {
                ClearAcadmicDetails();
                $("#StudentDiv").modal('show');
            }
            else if (type == "EmployedDiv") {
                ClearAcadmicDetails();
                $("#EmployedDiv").modal('show');
            }
            else if (type == "RetiredDiv") {
                ClearAcadmicDetails();
                $("#RetiredDiv").modal('show');
            }


        });

        $("#FK_StateId").change(function () {
            var cid = $(this).val();
            var thisId = $(this).attr('id');
            var countryId = 1;
            if (thisId == "FK_StateId") {
                countryId = 1;
                $("#FK_CityId").empty();
                $("#FK_CityId").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
            }

            var input = { stateId: parseInt(cid) };
            $.ajax({
                url: "@Url.Action("GetCityDetailsByStateId", "MSTAccount")",
                data: JSON.stringify(input),
                datatype: "json",
                type: "POST",
                async: false,
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var Machinelist = new Array();
                    if (data.length == 0) {
                        $(this).val('');
                    }
                    else {
                        for (var i = 0; i < data.length; i++) {
                            $("#FK_CityId").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                        }
                    }
                }


            });
        });
        //$('#LikeAdoptStudentLater').change(function () {
        //    debugger;
        //    if ($(this).val() == 'True') {
        //        $('#LikeAdoptStudentLaterTermCon').slideDown(500);
        //    }
        //    else {
        //        $('#LikeAdoptStudentLaterTermCon').slideUp(500);
        //    }
        //});

        $('INPUT[type="file"]').change(function () {

            var ext = this.value.substr(this.value.lastIndexOf('.') + 1, this.value.length);
            switch (ext.toLowerCase()) {
                case 'jpg':
                    break;
                case 'jpeg':
                    break;
                case 'png':
                    break;

                default:
                    alert('@GyanmitrasLanguages.LocalResources.Resource.InvalidLogo');
                    this.value = '';
            }
        });


        LanguageBind();





        $("#btnSubmitCounselor").click(function (e) {
            if ($(this).valid()) {
                if ($("#AreYou").val() == "StudentDiv") {
                    if (validStudentAcadmicDetails()) {
                        $("#StudentDiv").modal('show');
                        return false;
                        e.preventDefault();
                    }
                }
                else if ($("#AreYou").val() == "EmployedDiv") {
                    $("#EmployedDiv").modal('show');

                    if (!$('#Expertise_Details').val()) {
                        $('#Expertise_Details').focus();
                        $('#Expertise_Details').css('border', '1px solid red');
                        $('#Expertise_Details').attr('onfocus', '$(this).removeAttr("style")');
                    }
                    else {
                        $('#Expertise_Details').removeAttr('style');
                    }

                }
                else if ($("#AreYou").val() == "RetiredDiv") {
                    $("#RetiredDiv").modal('show');

                    if (!$('#Retired_Expertise_Details').val()) {
                        $('#Retired_Expertise_Details').focus();
                        $('#Retired_Expertise_Details').css('border', '1px solid red');
                        $('#Retired_Expertise_Details').attr('onfocus', '$(this).removeAttr("style")');
                    }
                    else {
                        $('#Retired_Expertise_Details').removeAttr('style');
                    }

                }



            }
        });

        $("#btnSubmitStudentDiv").click(function (e) {
            if (validStudentAcadmicDetails()) {
                return false;
                e.preventDefault();
            }
            else {
                $("#StudentDiv").modal('hide');
            }
        });
        $("#btnSubmitEmployedDiv").click(function (e) {
            if (!$('#Expertise_Details').val()) {
                $('#Expertise_Details').focus();
                $('#Expertise_Details').css('border', '1px solid red');
                $('#Expertise_Details').attr('onfocus', '$(this).removeAttr("style")');
                return false;
                e.preventDefault();
            }
            else {
                $('#Expertise_Details').removeAttr('style');
                $("#EmployedDiv").modal('hide');

            }
        });
        $("#btnSubmitRetiredDiv").click(function (e) {
            if (!$('#Retired_Expertise_Details').val()) {
                $('#Retired_Expertise_Details').focus();
                $('#Retired_Expertise_Details').css('border', '1px solid red');
                $('#Retired_Expertise_Details').attr('onfocus', '$(this).removeAttr("style")');
                return false;
                e.preventDefault();
            }
            else {
                $('#Retired_Expertise_Details').removeAttr('style');
                $("#RetiredDiv").modal('hide');
            }

        });



    })//Page Load End


    function ClearAcadmicDetails() {
        $("#Secondry_Education_Board").val('');
        $("#HigherSecondry_Education_Board").val('');
        $("#Secondry_Percentage").val('');
        $("#Secondry_Year_of_Passing").val('');
        $("#HigherSecondry_StreamType").val('');
        $("#HigherSecondry_Percentage").val('');

        $("#Graduation_UniversityName").val('');
        $("#Graduation_StreamType").val('');
        $("#Graduation_CourseName").val('');
        $("#Graduation_Percentage").val('');
        $("#Graduation_Year_of_Passing").val('');
        $("#Retired_Expertise_Details").val('');
        $("#Expertise_Details").val('');

        $("#Secondry_Education_Board").val('');
        $("#HigherSecondry_Education_Board").val('');
        $("#Secondry_Percentage").val('');
        $("#Secondry_Year_of_Passing").val('');
        $("#HigherSecondry_StreamType").val('');
        $("#HigherSecondry_Percentage").val('');

        $("#Graduation_UniversityName").val('');
        $("#Graduation_StreamType").val('');
        $("#Graduation_CourseName").val('');
        $("#Graduation_Percentage").val('');
        $("#Graduation_Year_of_Passing").val('');
        $("#Expertise_Details").val('');
        $("#Retired_Expertise_Details").val('');
        $("#Secondry_Education_Board").val('');
        $("#HigherSecondry_Education_Board").val('');
        $("#Secondry_Percentage").val('');
        $("#Secondry_Year_of_Passing").val('');
        $("#HigherSecondry_StreamType").val('');
        $("#HigherSecondry_Percentage").val('');

        $("#Graduation_UniversityName").val('');
        $("#Graduation_StreamType").val('');
        $("#Graduation_CourseName").val('');
        $("#Graduation_Percentage").val('');
        $("#Graduation_Year_of_Passing").val('');
        $("#Expertise_Details").val('');
        $("#Retired_Expertise_Details").val('');
    }
    function validStudentAcadmicDetails() {
        var bool = true;
        $("#tbodyStudentForm > tr").each(function () {
            if (!$(this).find('#Secondry_Education_Board').val()) {
                $(this).find('#Secondry_Education_Board').focus();
                $(this).find('#Secondry_Education_Board').css('border', '1px solid red');
                $(this).find('#Secondry_Education_Board').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#Secondry_Education_Board').removeAttr('style');
            }

            if (!$(this).find('#Secondry_Percentage').val()) {
                $(this).find('#Secondry_Percentage').focus();
                $(this).find('#Secondry_Percentage').css('border', '1px solid red');
                $(this).find('#Secondry_Percentage').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#Secondry_Percentage').removeAttr('style');
            }

            if (!$(this).find('#Secondry_Year_of_Passing').val()) {
                $(this).find('#Secondry_Year_of_Passing').focus();
                $(this).find('#Secondry_Year_of_Passing').css('border', '1px solid red');
                $(this).find('#Secondry_Year_of_Passing').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#Secondry_Year_of_Passing').removeAttr('style');
            }


            if (!$(this).find('#HigherSecondry_Education_Board').val()) {
                $(this).find('#HigherSecondry_Education_Board').focus();
                $(this).find('#HigherSecondry_Education_Board').css('border', '1px solid red');
                $(this).find('#HigherSecondry_Education_Board').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#HigherSecondry_Education_Board').removeAttr('style');
            }

            if (!$(this).find('#HigherSecondry_StreamType').val()) {
                $(this).find('#HigherSecondry_StreamType').focus();
                $(this).find('#HigherSecondry_StreamType').css('border', '1px solid red');
                $(this).find('#HigherSecondry_StreamType').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#HigherSecondry_StreamType').removeAttr('style');
            }

            if (!$(this).find('#HigherSecondry_Percentage').val()) {
                $(this).find('#HigherSecondry_Percentage').focus();
                $(this).find('#HigherSecondry_Percentage').css('border', '1px solid red');
                $(this).find('#HigherSecondry_Percentage').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#HigherSecondry_Percentage').removeAttr('style');
            }

            if (!$(this).find('#HigherSecondry_Year_of_Passing').val()) {
                $(this).find('#HigherSecondry_Year_of_Passing').focus();
                $(this).find('#HigherSecondry_Year_of_Passing').css('border', '1px solid red');
                $(this).find('#HigherSecondry_Year_of_Passing').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#HigherSecondry_Year_of_Passing').removeAttr('style');
            }

            if (!$(this).find('#Graduation_UniversityName').val()) {
                $(this).find('#Graduation_UniversityName').focus();
                $(this).find('#Graduation_UniversityName').css('border', '1px solid red');
                $(this).find('#Graduation_UniversityName').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#Graduation_UniversityName').removeAttr('style');
            }

            if (!$(this).find('#Graduation_StreamType').val()) {
                $(this).find('#Graduation_StreamType').focus();
                $(this).find('#Graduation_StreamType').css('border', '1px solid red');
                $(this).find('#Graduation_StreamType').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#Graduation_StreamType').removeAttr('style');
            }

            if (!$(this).find('#Graduation_CourseName').val()) {
                $(this).find('#Graduation_CourseName').focus();
                $(this).find('#Graduation_CourseName').css('border', '1px solid red');
                $(this).find('#Graduation_CourseName').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#Graduation_CourseName').removeAttr('style');
            }

            if (!$(this).find('#Graduation_Percentage').val()) {
                $(this).find('#Graduation_Percentage').focus();
                $(this).find('#Graduation_Percentage').css('border', '1px solid red');
                $(this).find('#Graduation_Percentage').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#Graduation_Percentage').removeAttr('style');
            }

            if (!$(this).find('#Graduation_Year_of_Passing').val()) {
                $(this).find('#Graduation_Year_of_Passing').focus();
                $(this).find('#Graduation_Year_of_Passing').css('border', '1px solid red');
                $(this).find('#Graduation_Year_of_Passing').attr('onfocus', '$(this).removeAttr("style")');
                bool = false;
            }
            else {
                $(this).find('#Graduation_Year_of_Passing').removeAttr('style');
            }
        });
        return bool;
    }
    function LanguageBind() {
        $("#languages").empty();
        $("#languages").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
        var input = { countryId: parseInt("1") };
        $.ajax({
            url: "@Url.Action("GetLanguages", "Home")",
            data: JSON.stringify(input),
            datatype: "json",
            async: false,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var Machinelist = new Array();
                if (data.length == 0) {
                    $(this).val('');
                }
                else {
                    for (var i = 0 ; i < data.length ; i++) {
                        $("#languages").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                    }
                }
            }
        });
    }

    function BindAreaOfInterest(type) {
        //debugger
        $('#AreaOfInterestIds').html('');
        $('#AreaOfInterestIds').SumoSelect({ okCancelInMulti: true, selectAll: true, csvDispCount: 3 });
        $('#AreaOfInterestIds')[0].sumo.unload();
        $('#AreaOfInterestIds').SumoSelect({ okCancelInMulti: true, selectAll: true, csvDispCount: 3, });

        $.ajax({
            url: "@Url.Action("BindAreaOfInterestList", "Counselor")",
            type: "GET",
            dataType: "JSON",
            async: false,
            data: { 'type': type },
            success: function (Tags) {
                //debugger
                if (Tags.length > 0) {
                    $.each(Tags, function (i, Tag) {
                        //debugger
                        $('#AreaOfInterestIds')[0].sumo.add(Tag.ID, Tag.Value);
                        $('#AreaOfInterestIds').SumoSelect({ okCancelInMulti: true, selectAll: true, csvDispCount: 3, });
                    });

                }


                if ($('#hd_AreaOfInterest').val() != '' && $('#hd_AreaOfInterest').val() != null) {

                    var SelectedTagsArray = [];
                    SelectedTagsArray = $('#hd_AreaOfInterest').val().split(',');
                    for (var i = 0; i < SelectedTagsArray.length; i++) {
                        $('#AreaOfInterestIds')[0].sumo.selectItem(SelectedTagsArray[i].trim());
                        SelectedTagsArray[i].selected = true;
                    }
                }
            }

        });
    }



    function StateBind1() {
        $("#FK_StateId").empty();
        $("#FK_StateId").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
        var input = { countryId: parseInt("1") };
        $.ajax({
            url: "@Url.Action("GetStateDetailsByCountryId", "MSTAccount")",
            data: JSON.stringify(input),
            datatype: "json",
            async: false,
            type: "POST",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var Machinelist = new Array();
                if (data.length == 0) {
                    $(this).val('');
                }
                else {
                    for (var i = 0; i < data.length; i++) {
                        $("#FK_StateId").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                    }
                }
            }
        });
    }

    function CheckUserName(a) {
        if ($.trim($(a).val())) {
            $.ajax({
                url: "@Url.Action("CheckUser", "MSTAccount")",
                type: "GET",
                dataType: "JSON",
                data: { username: $.trim($(a).val()), type: "Counselor" },
                success: function (data) {
                    if (Number(data.MessageId) == 1) {
                        $(a).css('border', '1px solid red');
                        $(a).val('');
                        //$(a).focus();
                        $(a).parent().find('span[data-valmsg-for="Username"]').text('@GyanmitrasLanguages.LocalResources.Resource.UserAlreadyExist').css('color', 'red');
                    }
                    else {
                        $(a).removeAttr('style');
                        $(a).parent().find('span[data-valmsg-for="Username"]').text('');
                    }
                }
            });
        }
    }
    function IsNum(event) {
        // Prevent shift key since its not needed
        if (event.shiftKey == true) {
            //alert('Only number allowed.');

            event.preventDefault();
            return false;
        }
        // Allow Only: keyboard 0-9, numpad 0-9, backspace, tab, left arrow, right arrow, delete
        if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) {
            // Allow normal operation
        } else {
            // Prevent the rest
            //alert('@GyanmitrasLanguages.LocalResources.Resource.OnlyNumber');
            event.preventDefault();
            return false;
        }
    }



</script>
