
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool IsAdoptedStudentCounselor = ViewBag.IsAdoptedStudentCounselor;
    IsAdoptedStudentCounselor = true;
    Int64 FK_CounselorID = Gyanmitras.Common.SiteUserSessionInfo.User.UserId;
    var path = System.Configuration.ConfigurationManager.AppSettings["ManageFeedResourcesPath"].ToString().Replace("~/", "/");
}
<h2>@ViewBag.Title</h2>
<hr />
<style>
    .my-card:hover {
        box-sizing: border-box;
        margin-bottom: 1.875rem;
        border: none;
        -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, .07);
        box-shadow: 0 1px 1px 4px rgba(62, 57, 107, .07);
    }
</style>
<br />
<div class="content-wrapper">

    <div class="content-body">
        <section class="NewformTabs">
            <div class="tab-content px-1 py-1">
                <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="true" aria-labelledby="base-tab11">
                    <div class="row">
                        <div class="col-lg-12 offset-lg-1">
                            <div class="form-body">

                                <div class="row">
                                    <div class="col-12 mt-1 mb-2">
                                        <section id="stats-icon-subtitle">
                                            <div class="row match-height">
                                                @if (IsAdoptedStudentCounselor)
                                                {
                                                    <div class="col-xl-3 col-md-3" id="RegisteredStudentDev" onclick="$('#RegisteredStudentSection').slideDown(500); $('#AdminFeedSection').slideUp(500); ">
                                                        <div class="card overflow-hidden my-card" style="background:#c5d6c5">
                                                            <div class="card-content" id="totalitemsCard">
                                                                <div class="media align-items-stretch">
                                                                    <div class="media-body p-2">
                                                                        <h4>Registered (Non Adopted) Student </h4>
                                                                    </div>
                                                                    <div class="media-right p-2 media-middle">
                                                                        <h1 class="info font-weight-bold" id="totalValue">0</h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (IsAdoptedStudentCounselor)
                                                {
                                                    <div class="col-xl-3 col-md-3" id="MyAdoptionDev" onclick="$('#RegisteredStudentSection').slideDown(500); $('#AdminFeedSection').slideUp(500); ">
                                                        <div class="card overflow-hidden my-card">
                                                            <div class="card-content" id="inactive">
                                                                <div class="media align-items-stretch">
                                                                    <div class="media-body p-2">
                                                                        <h4>
                                                                            My Aadoption
                                                                        </h4>
                                                                    </div>
                                                                    <div class="media-right p-2 media-middle">
                                                                        <h1 class="info font-weight-bold" id="TotalMyAdoption">0</h1>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                }
                                                <div class="col-xl-3 col-md-3" id="AdminFeedSectionDiv" onclick="$('#AdminFeedSection').slideDown(500); $('#RegisteredStudentSection').slideUp(500); loadFeed();">
                                                    <div class="card overflow-hidden my-card">
                                                        <div class="card-content" id="inactive">
                                                            <div class="media align-items-stretch">
                                                                <div class="media-body p-2">
                                                                    <h4>Admin Feeds</h4>
                                                                </div>
                                                                <div class="media-right p-2 media-middle">
                                                                    <h1 class="info font-weight-bold" id="totalFeed">0</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-3 col-md-3" onclick="location.href = '/Counselor/ProduceCounselingMaterials?CounselorId=12##$ASD'">
                                                    <div class="card overflow-hidden my-card">
                                                        <div class="card-content" id="inactive">
                                                            <div class="media align-items-stretch">
                                                                <div class="media-body p-2">
                                                                    <h4>Produce Counseling Materials</h4>
                                                                </div>
                                                                <div class="media-right p-2 media-middle">
                                                                    <h1 class="info font-weight-bold" id="totalTotalInactiveValue">0</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </section>
                                        <style>
                                            .overflow-hidden {
                                                overflow: hidden;
                                            }

                                            .p-2 {
                                                padding: 1.5rem !important;
                                            }

                                            .media-body {
                                                -webkit-box-flex: 1;
                                                /*-webkit-flex: 1;
                                                -moz-box-flex: 1;
                                                -ms-flex: 1;*/
                                                flex: 1;
                                            }

                                            .card {
                                                box-sizing: border-box;
                                                margin-bottom: 1.875rem;
                                                border: none;
                                                -webkit-box-shadow: 0 1px 15px 1px rgba(62, 57, 107, .07);
                                                box-shadow: 0 1px 15px 1px rgba(62, 57, 107, .07);
                                            }

                                            .align-items-stretch {
                                                -webkit-box-align: stretch !important;
                                                /*-webkit-align-items: stretch !important;
                                                -moz-box-align: stretch !important;
                                                -ms-flex-align: stretch !important;*/
                                                align-items: stretch !important;
                                            }

                                            .media {
                                                display: -webkit-box;
                                                /*display: -webkit-flex;
                                                display: -moz-box;
                                                display: -ms-flexbox;*/
                                                display: flex;
                                                /*-webkit-box-align: start;
                                                -webkit-align-items: flex-start;
                                                -moz-box-align: start;
                                                -ms-flex-align: start;
                                                align-items: flex-start;*/
                                            }

                                            .card {
                                                position: relative;
                                                display: -webkit-box;
                                                display: -webkit-flex;
                                                display: -moz-box;
                                                display: -ms-flexbox;
                                                display: flex;
                                                flex-direction: column;
                                                min-width: 0;
                                                word-wrap: break-word;
                                                border: 1px solid rgba(0, 0, 0, .06);
                                                border-radius: .35rem;
                                                background-color: #fff;
                                                background-clip: border-box;
                                                -webkit-box-orient: vertical;
                                                -webkit-box-direction: normal;
                                                -webkit-flex-direction: column;
                                                -moz-box-orient: vertical;
                                                -moz-box-direction: normal;
                                                -ms-flex-direction: column;
                                            }

                                            .card-content:hover {
                                                cursor: pointer;
                                            }
                                        </style>

                                    </div>
                                </div>






                                <section id="AdminFeedSection" style="display:none">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4>Admin Feeds</h4>
                                            <div class="card">
                                                <div class="card-header">

                                                </div>
                                                <div class="card-content collapse show" style="cursor: auto;">
                                                    <div class="card-body card-dashboard  pt-0">
                                                        <div class="dataTables_wrapper">
                                                            <div id="GridDiv">
                                                                <div class="table-responsive">
                                                                    <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover" id="" width="100%" style="cursor:auto">
                                                                        <thead>
                                                                            <tr>
                                                                                <th><input type="checkbox" id="checkAll" value="" onclick="checkAll(this)"></th>
                                                                                <th class="text-center">No.</th>
                                                                                <th class="text-center">Date & Time</th>
                                                                                <th class="text-center">Subject</th>
                                                                                <th class="text-center">Description</th>
                                                                                <th class="text-center">Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody id="tbodyFeed"></tbody>
                                                                    </table>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                @if (IsAdoptedStudentCounselor)
                                {
                                    <section id="RegisteredStudentSection">
                                        <div class="row">
                                            <div class="col-12">
                                                <h4>
                                                    Registered Student Details
                                                </h4>
                                                <div class="card">
                                                    <div class="card-header">

                                                    </div>
                                                    <div class="card-content collapse show" style="cursor: auto;">
                                                        <div class="card-body card-dashboard  pt-0">
                                                            <div class="dataTables_wrapper">
                                                                <div id="GridDiv">
                                                                    <div class="table-responsive">
                                                                        <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover" id="" width="100%" style="cursor:auto">
                                                                            <thead>
                                                                                <tr>
                                                                                    @*<th><input type="checkbox" id="checkAll" value="" onclick="checkAll(this)"></th>*@
                                                                                    <th class="text-center">No.</th>
                                                                                    <th class="text-center">Name Of Student</th>
                                                                                    <th class="text-center">Contact of student</th>
                                                                                    @*<th class="text-center">Guardian’s Contact</th>*@
                                                                                    <th class="text-center">Email ID .</th>

                                                                                    <th class="text-center">Do you have a PC?</th>
                                                                                    <th class="text-center">Status</th>
                                                                                    <th class="text-center">Action</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="datalisttbody">

                                                                                @*<tr>
                                                                                        <td><input type="checkbox"  value="" ></td>
                                                                                        <td class="text-center">1</td>
                                                                                        <td class="text-center">
                                                                                            TEST19
                                                                                        </td>

                                                                                        <td class="text-center">
                                                                                            325247383
                                                                                        </td>
                                                                                        <td class="text-center">
                                                                                            325247383
                                                                                        </td>
                                                                                        <td class="text-center">
                                                                                            jhbdfjv@tfavjdhfb.com
                                                                                        </td>
                                                                                        <td class="text-center">
                                                                                            Yes
                                                                                        </td>

                                                                                        <td align="center"><div class="success text-bold-600">Active</div></td>

                                                                                        <td align="center" class="text-nowrap text-center">
                                                                                            <a class="btn btn-icon btn-dark btn-sm" href="/MstCustomer/AddEditCustomer/1562"><i class="la la-pencil"></i>View Details</a>
                                                                                            <a class="btn btn-icon btn-dark btn-sm" href="#" onclick="StudentActionPanelFun()"><i class="la la-pencil"></i>Counsel</a>


                                                                                        </td>
                                                                                    </tr>*@
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>

                                }




                                <div id="StudentActionPanel" style="display:none">
                                    <div class="col-12 mt-1 mb-2">
                                        <section id="stats-icon-subtitle">
                                            <div class="row match-height">

                                                <div class="col-xl-3 col-md-3" id="PlannedCommunicationSectionDiv" onclick="$('#PlannedCommunicationSection').slideDown(500); $('#FeedbackSection').slideUp(500);">
                                                    <div class="card overflow-hidden my-card">
                                                        <div class="card-content" id="active">
                                                            <div class="media align-items-stretch">
                                                                <div class="media-body p-2">
                                                                    <h4>Planned Communication</h4>
                                                                </div>
                                                                <div class="media-right p-2 media-middle">
                                                                    <h1 class="success font-weight-bold" id="totalPlannedCommunication">0</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-xl-3 col-md-3" onclick="$('#FeedbackSection').slideDown(500); $('#PlannedCommunicationSection').slideUp(500);loadFeedBack();">
                                                    <div class="card overflow-hidden my-card">
                                                        <div class="card-content" id="active">
                                                            <div class="media align-items-stretch">
                                                                <div class="media-body p-2">
                                                                    <h4>Feedback</h4>
                                                                </div>
                                                                <div class="media-right p-2 media-middle">
                                                                    <h1 class="success font-weight-bold" id="totalFeedback">0</h1>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </section>

                                        <section id="PlannedCommunicationSection">

                                            <div class="row">
                                                <div class="text-right col-md-12 col-12">
                                                    <a href="javascript:void(0)" onclick="$('#myModal').modal('show');" class="btn btn-primary btn-min-width round box-shadow-2 float-md-right mb-2"><i class="ft-plus-circle"></i> New Plan Communication</a>
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-12">
                                                    <h4>
                                                        Planned Communication
                                                    </h4>
                                                    <div class="card">
                                                        <div class="card-header">

                                                        </div>
                                                        <div class="card-content collapse show" style="cursor: auto;">
                                                            <div class="card-body card-dashboard  pt-0">
                                                                <div class="dataTables_wrapper">
                                                                    <div id="GridDiv">
                                                                        <div class="table-responsive">
                                                                            <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover" id="" width="100%" style="cursor:auto">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th><input type="checkbox" id="checkAll" value="" onclick="checkAll(this)"></th>
                                                                                        <th class="text-center">No.</th>
                                                                                        <th class="text-center">Date & Time</th>
                                                                                        <th class="text-center">Description</th>
                                                                                        <th class="text-center">Status</th>
                                                                                        @*<th class="text-center">Action</th>*@
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tbodyPlanned">
                                                                                    @*<tr>
                                                                                            <td colspan="14">
                                                                                                <div class="text-danger">
                                                                                                    Data Not Found.
                                                                                                </div>
                                                                                            </td>
                                                                                        </tr>*@

                                                                                </tbody>
                                                                            </table>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>

                                        <section id="FeedbackSection" style="display:none">

                                            <div class="row">
                                                <div class="text-right col-md-12 col-12">
                                                    <a href="javascript:void(0)" id="btnNewFeedBack" onclick="popNewFeedback()" class="btn btn-primary btn-min-width round box-shadow-2 float-md-right mb-2"><i class="ft-plus-circle"></i>New Feedback</a>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-12">
                                                    <h4>
                                                        Feedback
                                                    </h4>
                                                    <div class="card">
                                                        <div class="card-header">

                                                        </div>
                                                        <div class="card-content collapse show" style="cursor: auto;">
                                                            <div class="card-body card-dashboard  pt-0">
                                                                <div class="dataTables_wrapper">
                                                                    <div id="GridDiv">
                                                                        <div class="table-responsive">
                                                                            <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover" id="" width="100%" style="cursor:auto">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th><input type="checkbox" id="checkAll" value="" onclick="checkAll(this)"></th>
                                                                                        <th class="text-center">No.</th>
                                                                                        <th class="text-center">Date & Time</th>
                                                                                        <th class="text-center">Did you like this class?</th>
                                                                                        <th class="text-center">Action</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="tbodyFeedback"></tbody>
                                                                            </table>
                                                                        </div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </div>
                                </div>

                            </div>
                        </div>

                        @*<div class="col-lg-3 offset-lg-1">
                                <div class="form-body">
                                    <div class="row">
                                        <div class="col-12 mt-1 mb-2">
                                            <h4>Advertisement</h4>
                                            <hr>
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>




<div id="studentsmodel" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 90% !important;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Student Details</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 offset-lg-1">
                        <div class="form-group row" align="right">
                            <div class="col-md-12">
                                <img style="height:90px;width:90px;position: relative;display: block;margin-left: auto;margin-right: auto;z-index: 1;" id="Img" />
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Name:</label>
                            <div class="col-md-8">
                                <span id="spnname"></span>


                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">EmailID:</label>
                            <div class="col-md-8">
                                <span id="spnEmailID"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Mobile:</label>
                            <div class="col-md-8">

                                <span id="spnMobileNo"></span>

                            </div>
                        </div>
                        <div class="form-group row" id="divalternatemob">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Alternate Mobile:</label>
                            <div class="col-md-8">

                                <span id="spnAlternateMobileNo"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Address:</label>
                            <div class="col-md-8">
                                <span id="spnAddress"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">ZipCode:</label>
                            <div class="col-md-8">

                                <span id="spnZipCode"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">@GyanmitrasLanguages.LocalResources.Resource.State:</label>
                            <div class="col-md-8">

                                <span id="spnState"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">City:</label>
                            <div class="col-md-8">
                                <span id="spnCity"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Language Known:</label>
                            <div class="col-md-8">
                                <span id="spnlanguages"></span>


                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Area Of Interest:</label>
                            <div class="col-md-8">
                                <span id="spnAreaOfInterest"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Have Smartphone:</label>
                            <div class="col-md-8">

                                <span id="spnHaveSmartPhone"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Have PC:</label>
                            <div class="col-md-8">

                                <span id="spnHavePC"></span>

                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Type Of Education</label>
                            <div class="col-md-8">
                                <span id="spnTypeOfEducation"></span>


                            </div>
                        </div>
                        <div class="form-group row" id="divclass">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Class:</label>
                            <div class="col-md-8">

                                <span id="spnCurrent_Education_subcategory"></span>


                            </div>
                        </div>
                        <div class="form-group row" id="divUniversityName">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">University Name:</label>
                            <div class="col-md-8">

                                <span id="spnUniversityName"></span>


                            </div>
                        </div>
                        <div class="form-group row" id="divboardtype">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Board Type:</label>
                            <div class="col-md-8">
                                <span id="spnBoardType"></span>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Completion Type:</label>
                            <div class="col-md-8">
                                <span id="spnCompletionNature"></span>


                            </div>
                        </div>
                        <div class="form-group row" id="divstream">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Stream Type:</label>
                            <div class="col-md-8">
                                <span id="spnStreamType"></span>
                            </div>
                        </div>
                        <div class="form-group row" id="divPercentage">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Percentage:</label>
                            <div class="col-md-8">
                                <span id="spnPercentage"></span>

                            </div>
                        </div>
                        <div class="form-group row" id="divspnCurrent_semester">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Current Semester:</label>
                            <div class="col-md-8">

                                <span id="spnCurrent_semester"></span>

                            </div>
                        </div>
                        <div class="form-group row" id="divTotalAggregatetillnow">
                            <label class="col-md-4 control-label text-center" for="eventRegInput1">Total Aggregate Percentage:</label>
                            <div class="col-md-8">

                                <span id="spnTotalAggregatetillnow"></span>

                            </div>
                        </div>
                        <div id="divpreviousclass">
                            <div class="form-group row">
                                <label class="col-md-4 control-label text-center" for="eventRegInput1">Previous Class:</label>
                                <div class="col-md-8">
                                    <span id="spnPreviousClass"></span>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 control-label text-center" for="eventRegInput1">Previous Class Board:</label>
                                <div class="col-md-8">

                                    <span id="spnPreviousBoardType"></span>

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-md-4 control-label text-center" for="eventRegInput1">Previous Class Percentage:</label>
                                <div class="col-md-8">

                                    <span id="spnPreviousclassPercentage"></span>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions center">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1" href="javascript:void(0)" id="btnAdopt">Adopt</a>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Plan Communication</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-12 col-md-12 offset-lg-1">
                        <div class="form-group row">
                            <label class="col-md-3 control-label text-center" for="eventRegInput1">Time Slot</label>
                            <div class="col-md-9">
                                @Html.TextBox("TimeSlot", "", new { @class = "form-control", @type = "datetime" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-3 control-label text-center" for="eventRegInput1">Plan Description</label>
                            <div class="col-md-9">
                                @Html.TextArea("PlanDescription", new { @class = "form-control", @row = "3" })
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-12" style="text-align:right">
                                <a class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1" href="javascript:void(0)" id="addPlanCommunication">Add</a>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-header">

                            </div>
                            <div class="card-content collapse show" style="cursor: auto;">
                                <div class="card-body card-dashboard  pt-0">
                                    <div class="dataTables_wrapper">
                                        <div id="GridDiv">
                                            <div class="table-responsive">
                                                <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover" id="" width="100%" style="cursor:auto">
                                                    <thead>
                                                        <tr>
                                                            <th class="text-center">No.</th>
                                                            <th class="text-center">Date & Time</th>
                                                            <th class="text-center">Description</th>
                                                            <th class="text-center">Action</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbodyPlanCommunication">
                                                        <tr>
                                                            <td colspan="14">
                                                                <div class="text-danger">
                                                                    Data Not Found.
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1" href="javascript:void(0)" id="submitPlanCommunication">Submit</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="NewFeedBack" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" style="border-radius: 0px !important; ">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="my-icon la la-comment-o"></i>FeedBack</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        Did you like this class?
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-2" id="yesLikeClass" onclick="$('#noLikeClass').find('.dot').removeClass('dot-active'); $(this).find('.dot').addClass('dot-active');">
                        <span class="dot"><i class="my-icon la la-thumbs-o-up" style="color:green"></i></span>
                        <br />
                        <span style="color:green">Yes</span>
                    </div>
                    <div class="col-md-2" id="noLikeClass" onclick="$('#yesLikeClass').find('.dot').removeClass('dot-active'); $(this).find('.dot').addClass('dot-active'); ">
                        <span class="dot">
                            <i class="my-icon la la-thumbs-o-down" style="color:#e26666"></i>
                        </span>
                        <br />
                        <span style="color:#e26666">No</span>
                    </div>
                    <div class="col-md-4">
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <i class="my-icon la la-smile-o"></i> &nbsp; What did you like best?
                    </div>
                </div>
                <br />
                <div class="row" id="feedBackCriteria">

                </div>

                <div class="row">
                    <div class="col-md-12">
                        <input type="text" class="form-control" id="txtFeedBackSuggesstion" placeholder="Your Suggesstion Here..." />
                    </div>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1" href="javascript:void(0)" id="submitFeedBack">Submit FeedBack</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div id="PopFeedModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><i class="my-icon la la-comment-o"></i>Admin Feed</h4>
            </div>
            <div class="modal-body">

                <div class="form-group row">
                    <label class="col-md-3 label-control">Created Date Time</label>
                    <div class="col-md-9">
                        <span id="CreatedDateTime"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 label-control">Feed Subject</label>
                    <div class="col-md-9">
                        <span id="FeedSubject"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-md-3 label-control">Feed Description</label>
                    <div class="col-md-9">
                        <span id="FeedDescription"></span>
                    </div>
                </div>

                <div class="form-group row" id="ResourceUrlDiv" style="display:none">
                    <label class="col-md-3 label-control">Video Embed Url</label>
                    <div class="col-md-9">
                        <iframe src="" id="VideoUrl"></iframe>
                    </div>
                </div>

                <div class="form-group row" id="ResourceFileDiv" style="display:none">
                    <label class="col-md-3 label-control" for="eventRegInput3">Resource File</label>
                    <div class="col-md-9">
                        <div class="responsive">
                            <div class="gallery">
                                <a target="_blank" href="" id="ResourceFile">
                                    <img src="" alt="Cinque Terre" width="100" height="100">
                                </a>
                                <div class="desc">Click the icone image to download file.</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<style>
    .card {
        cursor: pointer;
    }

    .dot {
        height: 25px;
        width: 25px;
        background-color: #fff;
        border-radius: 50%;
        display: inline-block;
        box-shadow: 0 0px 10px 3px rgba(0, 0, 0, 0.07);
    }

    .my-icon {
        font-size: 2.4rem !important;
    }

    .dot:hover {
        cursor: pointer;
        background-color: #28d094;
    }

    .dot-active {
        background-color: #28d094;
    }
</style>

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript" src="~/assets/js/moment.min.js"></script>
    <script type="text/javascript" src="~/assets/js/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/assets/css/daterangepicker.css" />
    <script>
        var PlanCommunication = new Array();
        $(function () {




            $("#TimeSlot").attr('readonly', 'readonly');


            $("#TimeSlot").daterangepicker({
                datepickerOptions: {
                    numberOfMonths: 1
                },
                locale: {
                    format: 'DD/MM/YYYY HH:mm:ss'
                },
                //"startDate": moment().hours(24).minutes(00),
                //"endDate": moment().hours(24).minutes(00),
                ranges: {
                    'Today': [moment().hours(0).minutes(0), moment().hours(24).minutes(00)],
                    //'Yesterday': [moment().subtract('days', 1).hours(0).minutes(0), moment().subtract('days', 1).hours(23).minutes(59)],
                    //'Last 7 Days': [moment().subtract('days', 6).hours(0).minutes(0), moment().hours(24).minutes(00)],
                    //'Last 30 Days': [moment().subtract('days', 29).hours(0).minutes(0), moment().hours(24).minutes(00)],
                    'This Month': [moment().startOf('month').hours(0).minutes(0), moment().endOf('month').hours(24).minutes(00)],
                },
                "minDate": moment().endOf("day"),
                timePicker: true

            });
            $("#RegisteredStudentDev").click(function (e) {
                paging(1, this);
            });
            $("#MyAdoptionDev").click(function (e) {
                $('#datalisttbody').empty();
                if (!MyAdoptHtml) {
                    $('#datalisttbody').html("<tr><td colspan='9' style='color:red' >No Record Found!</td></tr>");
                }
                else {
                    $('#datalisttbody').html(MyAdoptHtml);
                }

            });

            $(".card").click(function () {
                if ($(this).find('table > tbody > tr').length <= 0) {
                    $('.card').removeAttr('style');
                    $(this).attr('style', 'background:#c5d6c5');
                }
            });
            if ('@IsAdoptedStudentCounselor' == 'True') {
                $("#RegisteredStudentDev").find('.card').trigger('click');
            }
            else {
                $("#AdminFeedSection").show();
                $("#AdminFeedSectionDiv").trigger('click');
                $("#AdminFeedSectionDiv").find('.card').trigger('click');
            }





            $("#addPlanCommunication").click(function (e) {

                var TimeSlot = $("#TimeSlot").val();
                var DateTimeFrom = TimeSlot.split(' - ')[0];
                var DateTimeTo = TimeSlot.split(' - ')[1];
                var DateFrom = DateTimeFrom.split(' ');
                var DateTo = DateTimeTo.split(' ');

                if (!$("#TimeSlot").val()) {
                    $("#TimeSlot").focus();
                    alert("Time Slot Is Required!");
                    return false;
                    e.preventDefault();
                }
                if (!$("#PlanDescription").val()) {
                    $("#PlanDescription").focus();
                    alert("Plan Description Is Required!");
                    return false;
                    e.preventDefault();
                }
                if (DateFrom[0] != DateTo[0]) {
                    alert("From Date And To Date can't be different,time slot will be different between 24Hours!");
                    return false;
                    e.preventDefault();
                }

                if (PlanCommunication.length > 0) {
                    for (var i = 0; i < PlanCommunication.length; i++) {
                        if (PlanCommunication[i].DateTimeFrom == DateTimeFrom && PlanCommunication[i].DateTimeTo == DateTimeTo) {
                            alert("A Time Slot already have, please select different Time Slot between 24Hours!");
                            return false;
                            e.preventDefault();
                        }
                    }


                }
                var bool = false;
                $("#tbodyPlanned > tr").each(function () {
                    var TimeSlot1 = $.trim($(this).find('td:eq(2)').text());
                    var DateTimeFrom1 = TimeSlot1.split(' - ')[0];
                    var DateTimeTo1 = TimeSlot1.split(' - ')[1];
                    if (DateTimeFrom == DateTimeFrom1 && DateTimeTo == DateTimeTo1) {
                        bool = true;
                    }
                });

                if (bool) {
                    alert("A Time Slot already have, please select different Time Slot between 24Hours!");
                    return false;
                    e.preventDefault();
                }

                var PlanDescription = $("#PlanDescription").val();
                PlanCommunication.push({

                    "FK_CounselorID": '@FK_CounselorID',
                    "FK_StudentID": $.trim(PK_ID),
                    "DateTimeFrom": $.trim(DateTimeFrom),
                    'DateTimeTo': $.trim(DateTimeTo),
                    "CommunicationPlan": $.trim(PlanDescription),

                });
                if ($.trim($("#tbodyPlanCommunication").find('div[class="text-danger"]').text()) == 'Data Not Found.') {
                    $("#tbodyPlanCommunication").empty();
                }
                $("#tbodyPlanCommunication").append('<tr><td class="text-center">' + ((PlanCommunication.length == 0) ? 1 : PlanCommunication.length) + '</td><td class="text-center">' + $.trim(DateTimeFrom) + ' - ' + $.trim(DateTimeTo) + '</td><td class="text-center">' + $.trim(PlanDescription) + '</td>   <td class="text-center">  <a class="btn btn-icon btn-danger btn-sm delete" href="javascript:void(0)" rowid="' + ((PlanCommunication.length == 0) ? 1 : PlanCommunication.length) + '" onclick="remove(this)"><i class="la la-trash-o"></i>Remove</a>  </td>  </tr>');

                $("#TimeSlot").val('');
                $("#PlanDescription").val('');



            });

            $("#submitPlanCommunication").click(function (e) {

                if (PlanCommunication.length <= 0) {
                    alert("Please select Time Slot!");
                    return false;
                    e.preventDefault();
                }


                $.ajax({
                    url: "@Url.Action("AddPlannedCommunication", "Counselor")",
                    type: 'GET',
                    cache: false,
                    beforeSend: function () {
                        $(".modalBgLoader, .modalLoaderCenter").show();
                    },
                    complete: function () {
                        $(".modalBgLoader, .modalLoaderCenter").hide();
                    },
                    data: { 'json_PlanCommunication': JSON.stringify(PlanCommunication), "IsAdopt": ($("#submitPlanCommunication").attr('IsAdopt') ? "true" : "false") },
                    success: function (data) {
                        if (String(data.MessageId) == "1") {
                            alert(data.Message);
                            $('#myModal').modal('hide');
                            $('#studentsmodel').modal('hide');
                            //StudentActionPanelFun(this, PK_ID);
                            location.reload();
                        }
                        else if (Number(data.MessageId) <= 0) {
                            alert(data.Message);
                        }
                        else {
                            alert('Somthing Went Wrong!');
                        }
                    }
                });
            });

            $('#btnAdopt').click(function () {
                $("#submitPlanCommunication").attr('IsAdopt', 'true');
                $('#myModal').modal('show');
            });

            $("#submitFeedBack").click(function (e) {
                var IsLike = null;
                if (($("#yesLikeClass").find('.dot').attr('class')).indexOf('dot-active') >= 0) {
                    IsLike = 'true';
                }
                else if (($("#noLikeClass").find('.dot').attr('class')).indexOf('dot-active') >= 0) {
                    IsLike = 'false';
                }
                if (IsLike == null) {
                    alert('Choose The Option "Did you like this class?"');
                    return false;
                    e.preventDefault();
                }

                if (pk_feedbackcriteriaids.length <= 0) {
                    alert('Choose The Option "What did you like best?"');
                    return false;
                    e.preventDefault();
                }

                var FeedBackSuggesstionText = !($("#txtFeedBackSuggesstion").val()) ? "" : $("#txtFeedBackSuggesstion").val();

                var FeedBackSuggesstion = new Array();

                for (var i = 0; i < pk_feedbackcriteriaids.length; i++) {
                    FeedBackSuggesstion.push({
                        "FK_CounselorID": '@FK_CounselorID',
                        "FK_StudentID": $.trim(PK_ID),
                        'IsLikeThisClass': $.trim(IsLike),
                        'FeedBackBy': $.trim('Counselor'),
                        'FK_FeedBackCriteriaID': $.trim(pk_feedbackcriteriaids[i]),
                        "FeedBackSuggesstion": $.trim(FeedBackSuggesstionText),

                    });
                }

                if (FeedBackSuggesstion.length > 0) {
                    $.ajax({
                        url: "@Url.Action("AddEditFeedBack", "Counselor")",
                        type: 'GET',
                        cache: false,
                        beforeSend: function () {
                            $(".modalBgLoader, .modalLoaderCenter").show();
                        },
                        complete: function () {
                            $(".modalBgLoader, .modalLoaderCenter").hide();
                        },
                        data: { 'json_FeedBackSuggesstion': JSON.stringify(FeedBackSuggesstion) },
                        success: function (data) {
                            if (data) {
                                if (Number(data.MessageId) == 1) {
                                    alert(data.Message);
                                    loadFeedBack();
                                }
                                else {
                                    alert('Somthing Went Wrong!');
                                }
                            }
                            else {
                                alert('Somthing Went Wrong!');
                            }
                            $("#NewFeedBack").modal('hide');
                        }
                    });
                }
                else {
                    alert('Somthing went wrong!');
                }

            });

            loadFeed();

        });//Load Completed
        function popNewFeedback(a) {

            $("#feedBackCriteria").empty();
            $.ajax({
                url: "@Url.Action("GetManageFeedBackCriteriaDetails", "Counselor")",
                type: 'GET',
                cache: false,
                beforeSend: function () {
                    $(".modalBgLoader, .modalLoaderCenter").show();
                },
                complete: function () {
                    $(".modalBgLoader, .modalLoaderCenter").hide();
                },
                //data: { 'json_PlanCommunication': JSON.stringify(PlanCommunication)},
                success: function (data) {
                    if (data) {
                        $("#NewFeedBack").modal('show');
                        var bool = false;
                        for (var i = 0; i < data.length; i++) {
                            if (data[i].Status == "Active") {
                                bool = true;
                                $("#yesLikeClass").removeClass('dot-active');
                                $("#noLikeClass").removeClass('dot-active');
                                $("#txtFeedBackSuggesstion").val('');
                                $("#feedBackCriteria").append('<div class="col-md-12"> <div class="card" onclick="feedBackCriteriaCard(this)" PK_FeedBackCriteriaID = "' + data[i].PK_FeedBackCriteriaID + '"> <span style="margin-top: 10px;margin-bottom: 10px;">&nbsp; <i class="la la-check"></i> ' + data[i].FeedbackCriteria + '</span> </div> </div>');
                            }
                        }
                        if (a) {
                            var result = feedbackdatadescription.filter(function (v) {
                                return v.CreatedDateTime === $.trim($(a).attr('createddatetime'));
                            });
                            if (String(result[0].IsLikeThisClass) == "true") {
                                $("#yesLikeClass").trigger('click');
                            }
                            else {
                                $("#noLikeClass").trigger('click');
                            }
                            $("#txtFeedBackSuggesstion").val($.trim(result[0].FeedBackSuggesstion));
                            for (var i = 0; i < result.length; i++) {
                                $("div[pk_feedbackcriteriaid='" + result[i].FK_FeedBackCriteriaID + "']").trigger('click');
                            }
                            $("#NewFeedBack").find('modal-footer').empty();

                        }
                        if (!bool) {
                            $("#NewFeedBack").modal('hide');
                            alert('Somthing Went Wrong!');
                        }
                    }
                    else {
                        alert('Somthing Went Wrong!');
                    }
                }
            });



        }
        function loadFeedBack() {
            $("#tbodyFeedback").empty();
            $("#tbodyFeedback").append('<tr> <td colspan="5"> <div class="text-danger"> Data Not Found. </div> </td> </tr>');
            $.ajax({
                url: "@Url.Action("GetManageFeedBackDetails", "Counselor")",
                type: 'GET',
                cache: false,
                beforeSend: function () {
                    $(".modalBgLoader, .modalLoaderCenter").show();
                },
                complete: function () {
                    $(".modalBgLoader, .modalLoaderCenter").hide();
                },
                data: { 'FK_StudentID': Number($.trim(PK_ID)) },
                success: function (data) {
                    if (data) {
                        var vari = 0;
                        

                        if (data.length > 0) {
                            $("#tbodyFeedback").empty();
                        }
                        for (var i = 0; i < data.length; i++) {
                            if (String(data[i].IsActive) == "true" && Number(data[i].FeedOneTimeNumber) == 1) {
                                feedbackdatadescription = data;
                                vari++;
                                $("#tbodyFeedback").append('<tr> <td><input type="checkbox" value="" ' + data[i].PK_FeedBackID + '></td> <td class="text-center">' + vari + '</td> <td class="text-center"> ' + data[i].CreatedDateTime + ' </td> <td class="text-center"> ' + (String(data[i].IsLikeThisClass) == "true" ? "Yes" : "No") + ' </td><td align="center" class="text-nowrap text-center"> <a class="btn btn-icon btn-dark btn-sm" href="javascript:void(0)" createddatetime="' + data[i].CreatedDateTime + '" onclick="popNewFeedback(this)" ><i class="la la-pencil"></i>View Details</a> </td> </tr>');
                            }
                        }
                        $("#totalFeedback").text(vari);
                    }
                    else {
                        alert('Somthing Went Wrong!');
                    }
                }
            });
        }
        function popViewFeedDetails(a) {
            var Pk_id = $(a).closest('tr').find('td:eq(0)').find("#PK_FeedID").val();
            var MediaType = $(a).closest('tr').find('td:eq(0)').find("#MediaType" + Pk_id).val();
            var VideoUrl = $(a).closest('tr').find('td:eq(0)').find("#VideoUrl" + Pk_id).val();
            var ResourceFileName = $(a).closest('tr').find('td:eq(0)').find("#ResourceFile" + Pk_id).val();
            var CreatedDateTime = $(a).closest('tr').find('td:eq(2)').text();
            var FeedSubject = $(a).closest('tr').find('td:eq(3)').text();
            var FeedDescription = $(a).closest('tr').find('td:eq(4)').text();
            
            if (MediaType == "Video Embed Url") {
                $("#VideoUrl").removeAttr('src');
                $("#VideoUrl").attr('src', VideoUrl);
                $("#ResourceUrlDiv").slideDown(500);
                $("#ResourceFileDiv").slideUp(500);
            }
            else if (MediaType == 'Resource File') {
                $("#ResourceFile").removeAttr('href');
                $("#ResourceFile").attr('href', '@path' + ResourceFileName);
                
                var ext = (ResourceFileName).substr((ResourceFileName).lastIndexOf('.') + 1, (ResourceFileName).length);
                
                switch (ext.toLowerCase()) {
                    case 'jpg':
                        {
                            $("#ResourceFile").find('img').removeAttr('src');
                            $("#ResourceFile").find('img').attr('src', '/SiteUserContents/default-image.png');
                            break;
                        }
                    case 'jpeg':
                        {
                            $("#ResourceFile").find('img').removeAttr('src');
                            $("#ResourceFile").find('img').attr('src', '/SiteUserContents/default-image.png');
                            break;
                        }
                    case 'png':
                        {
                            $("#ResourceFile").find('img').removeAttr('src');
                            $("#ResourceFile").find('img').attr('src', '/SiteUserContents/default-image.png');
                            break;
                        }
                    case 'xls':
                        {
                            $("#ResourceFile").find('img').removeAttr('src');
                            $("#ResourceFile").find('img').attr('src', '/SiteUserContents/excel-icon.png');
                            break;
                        }
                    case 'xlsx':
                        {
                            $("#ResourceFile").find('img').removeAttr('src');
                            $("#ResourceFile").find('img').attr('src', '/SiteUserContents/excel-icon.png');
                            break;
                        }
                    case 'pdf':
                        {
                            $("#ResourceFile").find('img').removeAttr('src');
                            $("#ResourceFile").find('img').attr('src', '/SiteUserContents/pdf-icon.png');
                            break;
                        }
                    case 'doc':
                        {
                            $("#ResourceFile").find('img').removeAttr('src');
                            $("#ResourceFile").find('img').attr('src', '/SiteUserContents/doc-icon.png');
                            break;
                        }
                    case 'docx':
                        $('#blah').removeAttr('src');
                        $('#blah').attr('src', '/SiteUserContents/doc-icon.png');
                        break;
                    default:
                        {
                            $("#ResourceFile").find('img').removeAttr('src');
                            $("#ResourceFile").find('img').attr('src', '/SiteUserContents/default-image.png');
                            this.value = '';
                        }
                }

                $("#ResourceFileDiv").slideDown(500);
                $("#ResourceUrlDiv").slideUp(500);
            }
            else {
                
                $("#ResourceFileDiv").slideUp(500);
                $("#ResourceUrlDiv").slideUp(500);
            }
            $("#CreatedDateTime").text(CreatedDateTime);
            $("#FeedSubject").text(FeedSubject);
            $("#FeedDescription").text(FeedDescription);

            $("#PopFeedModal").modal('show');
        }

        function loadFeed() {
            debugger;
            $("#tbodyFeed").empty();
            $("#tbodyFeed").append('<tr> <td colspan="6"> <div class="text-danger"> Data Not Found. </div> </td> </tr>');
            $.ajax({
                url: "@Url.Action("GetManageFeedDetails", "Counselor")",
                type: 'GET',
                cache: false,
                beforeSend: function () {
                    $(".modalBgLoader, .modalLoaderCenter").show();
                },
                complete: function () {
                    $(".modalBgLoader, .modalLoaderCenter").hide();
                },
                //data: { 'FK_StudentID': Number($.trim()) },
                success: function (data) {
                    if (data) {
                        var vari = 0;
                        
                        if (data.length > 0) {
                            $("#tbodyFeed").empty();
                        }
                        for (var i = 0; i < data.length; i++) {
                            if (String(data[i].IsActive) == "true") {
                                vari++;
                                $("#tbodyFeed").append('<tr> <td><input type="checkbox" value="' + data[i].PK_FeedID + '"><input type="hidden" id="PK_FeedID" value="' + data[i].PK_FeedID + '" /><input type="hidden" id="MediaType' + data[i].PK_FeedID + '" value="' + data[i].MediaType + '" /><input type="hidden" id="VideoUrl' + data[i].PK_FeedID + '" value="' + data[i].VideoUrl + '" /><input type="hidden" id="ResourceFile' + data[i].PK_FeedID + '" value="' + data[i].ResourceFileName + '" /></td> <td class="text-center">' + vari + '</td> <td class="text-center"> ' + data[i].CreatedDateTime + ' </td> <td class="text-center"> ' + data[i].FeedSubject + ' </td><td class="text-center"> ' + data[i].FeedDescription + ' </td><td align="center" class="text-nowrap text-center"> <a class="btn btn-icon btn-dark btn-sm" href="javascript:void(0)" PK_FeedID="' + data[i].PK_FeedID + '" onclick="popViewFeedDetails(this)" ><i class="la la-pencil"></i>View Details</a> </td> </tr>');
                            }
                        }
                        $("#totalFeed").text(vari);
                    }
                    else {
                        alert('Somthing Went Wrong!');
                    }
                }
            });
        }
        var feedbackdatadescription;
        var pk_feedbackcriteriaids = new Array();
        function feedBackCriteriaCard(a) {
            if ($(a).attr('isChecked')) {
                $(a).removeAttr('isChecked');
                $(a).removeAttr('style');
                var itemtoRemove = Number($(a).attr('pk_feedbackcriteriaid'));
                pk_feedbackcriteriaids.splice($.inArray(itemtoRemove, pk_feedbackcriteriaids), 1);
            }
            else {
                $(a).attr('style', 'background:#c5d6c5');
                $(a).attr('isChecked', 'true')
                pk_feedbackcriteriaids.push(Number($(a).attr('pk_feedbackcriteriaid')));
            }
        }

        function remove(a) {
            $(a).closest("tr").remove();
            PlanCommunication.pop($(a).attr('rowid'));
        }

        var StudentActionPanel_Flag = false;
        var PK_ID = 0;
        function StudentActionPanelFun(a, myPK_ID) {

            if (myPK_ID) {
                PK_ID = myPK_ID;
            }
            else {
                PK_ID = $(a).attr('pk_id');
            }
            $("#tbodyPlanned").empty();
            $("#tbodyPlanned").append('<tr> <td colspan="5"> <div class="text-danger"> Data Not Found. </div> </td> </tr>');
            if (!StudentActionPanel_Flag) {
                $("#PlannedCommunicationSectionDiv").find('.card').trigger('click');
                $('#StudentActionPanel').slideDown(500);
            }
            else {
                $('#StudentActionPanel').slideUp(500);
            }

            $.ajax({
                url: "@Url.Action("GetPlannedCommunication", "Counselor")",
                type: 'GET',
                cache: false,
                beforeSend: function () {
                    $(".modalBgLoader, .modalLoaderCenter").show();
                },
                complete: function () {
                    $(".modalBgLoader, .modalLoaderCenter").hide();
                },
                data: { 'FK_StudentID': parseInt(PK_ID) },
                success: function (data) {

                    if (data.length > 0) {
                        $("#totalPlannedCommunication").text(data.length);
                        $("#tbodyPlanned").empty();
                        for (var i = 0; i < data.length; i++) {
                            $("#tbodyPlanned").append('<tr> <td><input id="' + i + '" type="checkbox" value=""></td> <td class="text-center">' + Number(i + 1) + '</td> <td class="text-center"> ' + data[i].DateTimeFrom + ' - ' + data[i].DateTimeTo + ' </td> <td class="text-center">  ' + data[i].CommunicationPlan + ' </td> <td align="center"><div class="success text-bold-600">' + (String(data[i].IsActive) == "true" ? "Active" : "Closed") + '</div></td> </tr>');
                        }
                    }
                    else {

                    }
                }
            });

            $("#tbodyPlanned").focus();
            loadFeedBack();


        }

        var MyAdoptHtml = '';
        var html = "";

        /*************Paging**************/
        function paging(currentpage, a, MySearchCreteria, MySearchValue, type) {

            $('#datalisttbody').html("<tr><td colspan='9' style='color:red' >No Record Found!</td></tr>");

            if (currentpage == NaN || currentpage <= 0) {
                return false;
            }
            var SearchCreteria = "";
            var SearchValue = "";
            if (a) {
                SearchCreteria = $(a).attr('searchby');
                SearchValue = $(a).attr('searchvalue');
            }
            else {
                SearchCreteria = MySearchCreteria;
                SearchValue = MySearchValue;
            }

            var PK_ID = 0;
            $.ajax({
                url: "@Url.Action("GetStudents", "Counselor")",
                type: 'GET',
                cache: false,
                beforeSend: function () {
                    $(".modalBgLoader, .modalLoaderCenter").show();
                },
                complete: function () {
                    $(".modalBgLoader, .modalLoaderCenter").hide();
                },
                data: { 'CurrentPage': parseInt(currentpage), 'RowPerpage': $('#Select_NoRecord').val(), 'SearchBy': SearchCreteria, 'SearchValue': SearchValue, 'PK_ID': PK_ID },
                success: function (data) {
                    var mytotal = 0;
                    //var obj = JSON.stringify(data);
                    MyAdoptHtml = '';
                    html = "";
                    //var objBasicPagingMDL = data.objBasicPagingMDL;
                    var objTotalCountPagingMDL = data.objTotalCountPagingMDL;
                    var _Datalist = data._Datalist;

                    if (!type) {

                        //$("#approved_active").text(objTotalCountPagingMDL.AdoptedStudent);
                        //$("#approval_pending").text(objTotalCountPagingMDL.PendingAdoptedStudent);

                        for (var i = 0; i < _Datalist.length; i++) {


                            if (String(_Datalist[i].MyAdoption) == 'true') {
                                MyAdoptHtml += '<tr><td class="text-center">' + (i + 1) + '</td> <td class="text-center"> ' + _Datalist[i].Name + ' </td> <td class="text-center"> ' + _Datalist[i].MobileNo + ' </td>  <td class="text-center"> ' + _Datalist[i].EmailID + ' </td> <td class="text-center"> ' + (String(_Datalist[i].HavePC) == "false" ? "No" : "Yes") + ' </td> <td align="center"><div class="success text-bold-600">' + (String(_Datalist[i].IsAdoptedStudent) == "true" ? "Adopted" : "Non-Adopted") + '</div></td>  <td align="center" class="text-nowrap text-center"> <a class="btn btn-icon btn-dark btn-sm" href="/Counselor/StudentAdoption/' + _Datalist[i].Pk_UserId + '"><i class="la la-pencil"></i>View Details</a> <a class="btn btn-icon btn-dark btn-sm" href="#" PK_ID="' + _Datalist[i].Pk_UserId + '" onclick="StudentActionPanelFun(this)"><i class="la la-pencil"></i>Counsel</a> ';
                            }
                            else {
                                if (String(_Datalist[i].IsMachingStudentsForCounselor) == 'true' && String(_Datalist[i].IsAdoptedStudent) == "false") {
                                    mytotal++;
                                    //html += '<tr><td class="text-center">' + (i + 1) + '</td> <td class="text-center"> ' + _Datalist[i].Name + ' </td> <td class="text-center"> ' + _Datalist[i].MobileNo + ' </td>  <td class="text-center"> ' + _Datalist[i].EmailID + ' </td> <td class="text-center"> ' + (String(_Datalist[i].HavePC) == "false" ? "No" : "Yes") + ' </td> <td align="center"><div class="success text-bold-600">' + (String(_Datalist[i].IsAdoptedStudent) == "true" ? "Adopted" : "Non-Adopted") + '</div></td>  <td align="center" class="text-nowrap text-center"> <a class="btn btn-icon btn-dark btn-sm" href="/Counselor/StudentAdoption/' + _Datalist[i].Pk_UserId + '"><i class="la la-pencil"></i>View Details</a>';
                                    html += '<tr><td class="text-center">' + (i + 1) + '</td> <td class="text-center"> ' + _Datalist[i].Name + ' </td> <td class="text-center"> ' + _Datalist[i].MobileNo + ' </td>  <td class="text-center"> ' + _Datalist[i].EmailID + ' </td> <td class="text-center"> ' + (String(_Datalist[i].HavePC) == "false" ? "No" : "Yes") + ' </td> <td align="center"><div class="success text-bold-600">' + (String(_Datalist[i].IsAdoptedStudent) == "true" ? "Adopted" : "Non-Adopted") + '</div></td>  <td align="center" class="text-nowrap text-center"> <a href="javascript:viewdettails(' + _Datalist[i].Pk_UserId + ');" class="btn btn-icon btn-dark btn-sm" ><i class="la la-pencil"></i>View Details</a>';
                                }
                                //<a class="btn btn-icon btn-dark btn-sm" href="#" PK_ID="' + _Datalist[i].Pk_UserId + '" onclick="StudentActionPanelFun(this)"><i class="la la-pencil"></i>Counsel</a>
                            }
                        }
                        if (_Datalist.length <= 0) {
                            $('#datalisttbody').html("<tr><td colspan='9'  style='color:red'  >No Record Found!</td></tr>");
                        }
                        else {
                            $("#totalValue").text(mytotal);
                            $("#TotalMyAdoption").text(objTotalCountPagingMDL.TotalAdoptedStudentByCounselor);
                            $('#datalisttbody').html(html);

                            if (mytotal == 0) {
                                $('#datalisttbody').html("<tr><td colspan='9'  style='color:red'  >No Record Found!</td></tr>");
                            }
                        }
                    }

                },
            });
            return false;
        }

        function viewdettails(id) {
            PK_ID = id;
            $('#studentsmodel').modal('show');

            $.ajax({
                url: "@Url.Action("GetStudents", "Counselor")",
                type: 'GET',
                cache: false,
                data: { 'CurrentPage': 1, 'RowPerpage': 10, 'SearchBy': "", 'SearchValue': "", 'PK_ID': parseInt(PK_ID) },
                success: function (data) {
                    var mytotal = 0;
                    MyAdoptHtml = '';
                    html = "";
                    var objTotalCountPagingMDL = data.objTotalCountPagingMDL;
                    var _Datalist = data._Datalist;

                    for (var i = 0; i < _Datalist.length; i++) {

                        $('#spnname').text(_Datalist[i].Name);
                        $('#spnMobileNo').text(_Datalist[i].MobileNo);
                        $('#spnEmailID').text(_Datalist[i].EmailID);
                        if (String(_Datalist[i].HavePC) == "false") {
                            $('#spnHavePC').text("No");
                        }
                        else {
                            $('#spnHavePC').text("Yes");
                        }
                        if (String(_Datalist[i].HaveSmartPhone) == "false") {
                            $('#spnHaveSmartPhone').text("No");
                        }
                        else {
                            $('#spnHaveSmartPhone').text("Yes");
                        }
                        $('#spnAddress').text(_Datalist[i].Address);
                        $('#spnCity').text(_Datalist[i].CityName);
                        $('#spnState').text(_Datalist[i].StateName);

                        var lang = _Datalist[i].LanguageKnownName;
                        var langindex = lang.lastIndexOf(",");
                        var Language = lang.substring(0, langindex)


                        $('#spnlanguages').text(Language); //////languages
                        var AreaOfInterest = _Datalist[i].AreaOfInterestName;
                        var AreaOfInterestIndex = AreaOfInterest.lastIndexOf(",");
                        var AreaOfInterestName = AreaOfInterest.substring(0, AreaOfInterestIndex)
                        $('#spnAreaOfInterest').text(AreaOfInterestName);//////AreaOfInterest

                        if (_Datalist[i].AlternateMobileNo != "") {
                            $('#spnAlternateMobileNo').text(_Datalist[i].AlternateMobileNo);
                            $('#divalternatemob').show();
                        }
                        else {
                            $('#spnAlternateMobileNo').text('');
                            $('#divalternatemob').hide();
                        }

                        $('#spnZipCode').text(_Datalist[i].ZipCode);
                        $('#Img').attr("src", "'@System.Configuration.ConfigurationManager.AppSettings["StudentProfilePath"].ToString().Replace("~","..")'" + _Datalist[i].ImageName);

                        $('#spnTypeOfEducation').text(_Datalist[i].EducationDetails[0].Education_Type);

                        if (_Datalist[i].EducationDetails[0].Education_Type != "Graduation") {
                            $('#divclass').show();
                            $('#spnCurrent_Education_subcategory').text(_Datalist[i].EducationDetails[0].Class);
                            $('#spnCompletionNature').text(_Datalist[i].EducationDetails[0].NatureOFCompletion);


                            if (_Datalist[i].EducationDetails[0].Education_Type == "Higher Secondry") {
                                $('#spnStreamType').text(_Datalist[i].EducationDetails[0].StreamName);////// StreamType
                                $('#divstream').show();
                            }
                            else {
                                $('#spnStreamType').text('');
                                $('#divstream').hide();
                            }
                            $('#spnBoardType').text(_Datalist[i].EducationDetails[0].BoardName);////// BoardType
                            $('#divboardtype').show();
                            $('#divclass').show();
                            $('#divUniversityName').hide();
                            $('#divspnCurrent_semester').hide();
                            $('#divTotalAggregatetillnow').hide();
                            if (_Datalist[i].EducationDetails[0].NatureOFCompletion == "Completed") {
                                $('#divPercentage').show();
                                $('#spnPercentage').text(_Datalist[i].EducationDetails[0].Percentage);
                                $('#divpreviousclass').hide();
                            }
                            else {
                                $('#divPercentage').hide();
                                $('#spnPercentage').text('');
                                $('#divpreviousclass').show();
                                $('#spnPreviousClass').text(_Datalist[i].EducationDetails[0].Previous_Class);
                                $('#spnPreviousBoardType').text(_Datalist[i].EducationDetails[0].PreviousClassBoardName);///////////PreviousBoardType
                                $('#spnPreviousclassPercentage').text(_Datalist[i].EducationDetails[0].Previous_Class_Percentage);
                            }

                        }
                        else if (_Datalist[i].EducationDetails[0].Education_Type == "Graduation") {
                            $('#spnCurrent_Education_subcategory').text('');
                            $('#spnCompletionNature').text(_Datalist[i].EducationDetails[0].NatureOFCompletion);
                            $('#spnUniversityName').text(_Datalist[i].EducationDetails[0].UniversityName);
                            $('#spnStreamType').text(_Datalist[i].EducationDetails[0].StreamName);////////// StreamType
                            if (_Datalist[i].EducationDetails[0].NatureOFCompletion == "Completed") {
                                $('#spnPercentage').text(_Datalist[i].EducationDetails[0].Percentage);
                                $('#divPercentage').show();
                                $('#divspnCurrent_semester').hide();
                                $('#divTotalAggregatetillnow').hide();
                                $('#spnTotalAggregatetillnow').text('');
                                $('#spnCurrent_semester').text('');
                            }
                            else {
                                $('#spnPercentage').text('');
                                $('#divPercentage').hide();
                                $('#divspnCurrent_semester').show();
                                $('#divTotalAggregatetillnow').show();
                                $('#spnTotalAggregatetillnow').text(_Datalist[i].EducationDetails[0].TotalAggregatetillnow);
                                $('#spnCurrent_semester').text(_Datalist[i].EducationDetails[0].Currentsemester);
                            }
                            $('#divboardtype').hide();
                            $('#divstream').show();
                            $('#divclass').hide();
                            $('#divUniversityName').show();
                            $('#divpreviousclass').hide();
                        }
                    }


                }
            });
        }
    </script>
}