<!--#region model  -->
@model IEnumerable<GyanmitrasMDL.User.VolunteerMDL>
@{
    var objPagingmdl = (GyanmitrasMDL.BasicPagingMDL)ViewBag.paging;
    int SerialNo = (objPagingmdl.CurrentPage - 1) * objPagingmdl.RowParPage + 1;

}
<!--#endregion model  -->
<!--#region GridShow  -->
<div class="table-responsive" style="max-height: 465px;">
    <table cellspacing="0" cellpadding="0" border="0" class="table table-bordered table-hover" width="100%" style="cursor:auto">
        <thead>
            <tr>
                @*<th><input type="checkbox" value="" id="checkAll" onclick="checkAll(this)"></th>*@
                <th class="text-center">@Html.CheckBox("checkAll_Id", new { @onclick = "CheckAllValue(this.checked)" })</th>
                <th class="text-center">@GyanmitrasLanguages.LocalResources.Resource.No.</th>
                <th class="text-center">@GyanmitrasLanguages.LocalResources.Resource.Action</th>
                <th class="text-center">Name</th>
                <th class="text-center">Category Name</th>
                <th class="text-center">Role Name</th>
                @*<th class="text-center">UID</th>
                <th class="text-center">Password</th>
                <th class="text-center">Address</th>*@
                <th class="text-center">State Name</th>
                <th class="text-center">City Name</th>
                @*<th class="text-center">ZipCode</th>*@
                <th class="text-center">Email ID</th>
                <th class="text-center">Mobile No</th>
                @*<th class="text-center">AlternateMobileNo</th>*@
                <th class="text-center">Created Date Time</th>
                <th class="text-center">Image</th>

                <th class="text-center">@GyanmitrasLanguages.LocalResources.Resource.Status</th>
                
            </tr>
        </thead>
        <tbody>
            @if (Model == null || !Model.Any())
            {
                <tr>
                    <td colspan="14">
                        <div class="text-danger">@GyanmitrasLanguages.LocalResources.Resource.DataNotFound</div>
                    </td>
                </tr>

            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td class="text-center" style="display:none;">
                            @Html.DisplayFor(modelItem => item.PK_VolunteerId)
                        </td>
                        <td class="text-center"><input type="checkbox" value="" id="@item.PK_VolunteerId"></td>
                        <td align="center">@SerialNo</td>
                        <td class="text-center text-nowrap">
                            <a class="btn btn-icon btn-warning btn-sm" onclick="return confirm('Are you sure to give feedback to this counselor');" title="Click Here, Give Feedback This Counselor." href="@Url.Action("AddEditManageResource", new { id = item.PK_VolunteerId })"><i class="la la-warning"></i></a>
                            @if (ViewBag.CanEdit)
                            {
                                <a class="btn btn-icon btn-dark btn-sm" href="@Url.Action("AddEditVolunteerManagement", new { id = item.PK_VolunteerId })"><i class="la la-pencil"></i></a>
                            }
                            @if (ViewBag.CanDelete)
                            {
                                <a class="btn btn-icon btn-danger btn-sm" title="Click Here, Delete This Volunteer." href="@Url.Action("DeleteVolunteerManagement", new { id = item.PK_VolunteerId })" onclick="return confirm('@GyanmitrasLanguages.LocalResources.Resource.DeleteMsg');"><i class="la la-trash-o"></i></a><br />
                            }
                        </td>
                        <td class="text-center">@item.Name</td>
                        <td class="text-center">@item.CategoryName</td>
                        <td class="text-center">@item.RoleName</td>
                        @*<td class="text-center">@item.UID</td>
                        <td class="text-center">@item.Password</td>
                        <td class="text-center">@item.Address</td>*@
                        <td class="text-center">@item.StateName</td>
                        <td class="text-center">@item.CityName</td>
                        @*<td class="text-center">@item.ZipCode</td>*@
                        <td class="text-center">@item.EmailID</td>
                        <td class="text-center">@item.MobileNo</td>
                        @*<td class="text-center">@item.AlternateMobileNo</td>*@
                        
                        <td class="text-center">@item.CreatedDateTime </td>

                        <td class="text-center">
                            @if (!string.IsNullOrEmpty(item.ImageName))
                            {
                                <img src="~/SiteUserContents/Registration/VolunteerImages/@item.ImageName" height="50" width="50" />
                                @*<img src="data:image/png;base64, @item.AccountLogoStream" height="100" width="100" alt="Account Logo" />*@
                            }
                            
                        </td>
                        @if (item.IsActive)
                        {
                            <td align="center" class="success text-bold-600">@GyanmitrasLanguages.LocalResources.Resource.Active</td>
                        }
                        else
                        {
                            <td align="center" class="danger text-bold-600">@GyanmitrasLanguages.LocalResources.Resource.Inactive</td>
                        }
                        
                    </tr> SerialNo++;
                }
            }
        </tbody>

    </table>
</div>
@Html.Partial("_Paging", (GyanmitrasMDL.BasicPagingMDL)ViewBag.paging)
<script src="~/app-assets/js/core/libraries/jquery.min.js"></script>
<script>
    $(function () {

        if ($('tbody > tr').length <= 1) {
            if ($('tbody > tr').find("td").length <= 1) {
                $("#exportdiv").attr('style', 'display: none !important');
            }
            else {
                $("#exportdiv").removeAttr('style');
            }
        }
        else {
            $("#exportdiv").removeAttr('style');
        }
    });
</script>
<!--#endregion GridShow  -->
