
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="content-header row">
        <div class="content-header-left col-md-6 col-12 mb-2">
            <h3 class="content-header-title">@GyanmitrasLanguages.LocalResources.Resource.Role</h3>
            <div class="row breadcrumbs-top">
                <div class="breadcrumb-wrapper col-12">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">@GyanmitrasLanguages.LocalResources.Resource.Home</a> </li>
                        <li class="breadcrumb-item active">@GyanmitrasLanguages.LocalResources.Resource.Role</li>
                    </ol>
                </div>
            </div>
        </div>
        @if (ViewBag.CanAdd)
        {
            <div class="content-header-right col-md-6 col-12"> <a href="@Url.Action("AddEditRole")" class="btn btn-dark btn-min-width round box-shadow-2 float-md-right mb-2"><i class="ft-plus-circle"></i> @GyanmitrasLanguages.LocalResources.Resource.ButtonAddNew</a> </div>
        }

    </div>
    @Html.Partial("_TotalCountPaging", (GyanmitrasMDL.TotalCountPagingMDL)ViewBag.TotalCountPaging)


    <section id="">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">@GyanmitrasLanguages.LocalResources.Resource.RoleData</h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                                <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content collapse show">
                        <div class="card-body card-dashboard pt-0" style="cursor:auto">
                            <div class="dataTables_wrapper">
                                <div class="row" style="cursor:auto">
                                    <div class="col-sm-12 col-md-6">
                                        <div id="" class="dataTables_filter">
                                            <label>
                                                <fieldset>
                                                    <div class="input-group">
                                                        <div class="input-group-prepend">
                                                            <button id="SearchBy" type="button" class="btn btn-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                                            <div class="dropdown-menu" id="tableMenu">
                                                                <a class="dropdown-item" val="AccountName" href="javascript:void(0);" onclick="paging(1,this)">@GyanmitrasLanguages.LocalResources.Resource.AccountName</a>
                                                                <a class="dropdown-item" val="AccountCat" href="javascript:void(0);" onclick="paging(1,this)">@GyanmitrasLanguages.LocalResources.Resource.AccCategory</a>
                                                                <a class="dropdown-item" val="RoleName" href="javascript:void(0);" onclick="paging(1,this)">@GyanmitrasLanguages.LocalResources.Resource.RoleName</a>
                                                                <a class="dropdown-item" val="FormName" href="javascript:void(0);" onclick="paging(1,this)">@GyanmitrasLanguages.LocalResources.Resource.LandingPage</a>
                                                            </div>

                                                        </div>
                                                        <input type="text" id="SearchValue" class="form-control" placeholder="@GyanmitrasLanguages.LocalResources.Resource.SearchText">

                                                        <button onclick="paging(1)"><i class="ficon ft-search"></i></button>
                                                    </div>
                                                </fieldset>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 col-md-6 text-right">
                                        <div class="dataTables_length" id="exportdiv">
                                            <label class="mr-2">
                                                @GyanmitrasLanguages.LocalResources.Resource.Show
                                                <select name="DataTables_Table_0_length" class="custom-select custom-select-sm form-control form-control-sm" id="RowPerpage" onchange="paging(1)">
                                                    <option value="10">10</option>
                                                    <option value="25">25</option>
                                                    <option value="50">50</option>
                                                    <option value="100">100&nbsp;</option>
                                                </select>
                                                @GyanmitrasLanguages.LocalResources.Resource.Entries
                                            </label>
                                            <div class="dropdown display-inline">
                                                <a class="dropdown-toggle btn btn-dark" id="" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="">@GyanmitrasLanguages.LocalResources.Resource.Export</span></a>
                                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdown-flag">
                                                    <a class="dropdown-item" id="Excel" onclick="ExportToExcelOrCsvFile('Excel')"><i class="la la-file-excel-o"></i>@GyanmitrasLanguages.LocalResources.Resource.Excel</a>
                                                    <a class="dropdown-item" id="CSV" onclick="ExportToExcelOrCsvFile('CSV')"><i class="la la-file-text"></i> @GyanmitrasLanguages.LocalResources.Resource.CSV</a>
                                                    @*<a class="dropdown-item" id="PDF" onclick="ExportToExcelOrCsvFile('PDF')"><i class="la la-file-pdf-o"></i> @GyanmitrasLanguages.LocalResources.Resource.PDF</a>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="msgDiv" class="col-md-12">
                                        @if (ViewBag.msg != null && (ViewBag.msg).MessageId == 1)
                                        {
                                            <div id="myAlert" class="alert alert-success">
                                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                <strong>@ViewBag.msg.Message</strong>
                                            </div>
                                        }
                                        else
                                        {
                                            if (ViewBag.msg != null)
                                            {
                                                <div id="myAlert" class="alert alert-danger">
                                                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                                    <strong> @ViewBag.msg.Message</strong>
                                                </div>
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="content-body" id="containerDiv">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@section scripts {
    @Scripts.Render("~/Admin/bundles/jqueryval")


    <script type="text/javascript">
        $(document).ready(function () {

            $(".alert").fadeTo(2000, 5000).slideUp(500, function () {
                $(".alert").slideUp(500);
            });

            //paging(1);
            //$("#SearchBy").text('All');
            /*Start Code:: Reload Page */
            $("#total,a[data-action='reload']").click(function (e) {
                $("#SearchBy").text('');
                $("#SearchBy").removeAttr('val');
                $("#SearchBy").attr('val', '');
                $("#SearchValue").val("");
                $("#SearchValue").removeAttr('val');
                $("#SearchValue").attr('val', '');
                $("#RowPerpage").val("10");
                paging(1);
            });
            /*End Code:: Reload Page */
            $("#SearchValue").keyup(function () {
                $(this).removeAttr('val');
                $(this).attr('val', $(this).val())
            });
            $("#tableMenu a").click(function (e) {
                ///debugger
                e.preventDefault(); // cancel the link behaviour
                $("#SearchValue").val('');
                var SetText = this.id;

                if (SetText == "") {
                    paging(1);
                }

                $("#SearchBy").val(SetText);
               // $("#SearchBy").text($(this).text());

            });


            //$("#total").click(function () {
            //    /// debugger
            //    SearchCreteria = '';
            //    //$("#SearchBy").text('All');
            //    $("#SearchBy").val(SearchCreteria);
            //    $("#SearchValue").val("");
            //    $("#RowPerpage").val("10");
            //    paging(1);
            //});
            $("#active,#inactive,#this_month").click(function () {
             //   debugger;
                $("#SearchBy").removeAttr('val');
                $("#SearchBy").attr('val', ($(this).attr('id') == "active") ? "Status" : (($(this).attr('id') == "inactive") ? "Status" : "ThisMonth"));


                $("#SearchValue").removeAttr('val');
                $("#SearchValue").attr('val', ($(this).attr('id') == "active") ? "Active" : (($(this).attr('id') == "inactive") ? "Inactive" : ""));

                $("#SearchValue").val("");
                $("#RowPerpage").val("10");
                paging(1);
            });


        });

        /**EXPORT FILE .CSV OR .XLS**/
        function ExportToExcelOrCsvFile(FileType) {
            ///// debugger
            var AllFileType = "";
            if (FileType == "Excel") {
                AllFileType = ".xls";
            }
            else if (FileType == "CSV") {
                AllFileType = ".csv";
            }

            var choosen_ids = "";
            $("#checkAll").closest('tr').parent().parent().find('tbody > tr').each(function () {
                if ($(this).find('td:eq(0)').find('input').is(":checked")) {
                    choosen_ids = choosen_ids + $(this).find('td:eq(0)').find('input').attr('id') + ",";
                }
            });

            if (FileType == "Excel" || FileType == "CSV") {
                $.ajax({
                    url: "@Url.Action("ChooseFileType", "mstRole")",
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    cache: false,
                    data: { 'FileType': AllFileType, "choosen_ids": choosen_ids, 'SearchBy': $.trim($("#SearchBy").attr('val')), 'SearchValue': $.trim($("#SearchValue").attr('val')) },
                    success: function (data) {
                        //// debugger
                        if (data == 1) {
                            window.location = '@Url.Action("ExportToExcelOrCSV", "mstRole")';
                        }
                    },
                    error: function (res) { },
                    failure: function (res) { },
                });
            }
            else if (FileType == "PDF") {
            }
            else {
                return false;
            }
        }

        /*************Paging**************/
        function paging(currentpage, a) {
           // debugger
            var RowPerPage = $("#RowPerpage").val();
            if (currentpage == NaN || currentpage <= 0) {
                return false;
            }
            $('#containerDiv').html('');

            var SearchValue = $.trim($("#SearchValue").attr('val'));


            if (a) {

                SearchBy = $(a).attr('val');
                $("#SearchBy").attr('val', SearchBy);
                //$("#SearchCreteria").text($(a).text());
                $(a).parent().find('a').removeAttr('style');
                $(a).css('background-color', '#393b4a');
                $(a).css('color', '#fff');
            }
            else {
                SearchBy = $("#SearchBy").attr('val');
            }

            $.ajax({
                // url: "../Role/getRoles",
                url: "@Url.Action("getRole", "mstRole")",
                type: 'GET',

                data: { 'CurrentPage': parseInt(currentpage), 'SearchBy': SearchBy, 'SearchValue': SearchValue, 'RecordPerPage': RowPerPage },
                success: function (data) {
                    $('#containerDiv').html(data);
                    $('.disabled').prop('disabled', true);
                },

            });

        }

        @*/*Delete Role*/
        function DeleteRole(id) {
            var result=confirm('@GyanmitrasLanguages.LocalResources.Resource.DeleteMsg')
            if (result) {
                $.ajax({
                    url: "@Url.Action("DeleteRole", "MstRole")",
                    type: 'GET',
                    cache: false,
                    data: { PK_RoleId: id },
                    success: function (data) {
                        alert(data.Message);
                        window.location = "@Url.Action("Index","MstRole")"
                    },
                });


            } else {

            }

        }*@

    </script>
}
