<!--#region model  -->
@model GyanmitrasMDL.User.SiteUserContantResourceMDL
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<!--#endregion model  -->
<!--#region Html  -->
<style>
    .field-validation-error {
        color: red;
    }

    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }
</style>
@using (Html.BeginForm("AddEditUser", "ManageResources"))
{
    @Html.HiddenFor(E => E.PK_ContantResourceId)
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-12 col-12 mb-2">
                <h3 class="content-header-title">@GyanmitrasLanguages.LocalResources.Resource.ButtonAddNew @ViewBag.Title</h3>
                <div class="row breadcrumbs-top">
                    <div class="breadcrumb-wrapper col-12">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="@Url.Action("Index","MSTAccount")">@GyanmitrasLanguages.LocalResources.Resource.Home.</a> </li>
                            <li class="breadcrumb-item"><a href="@Url.Action("Index")">@ViewBag.Title</a> </li>
                            <li class="breadcrumb-item active">@GyanmitrasLanguages.LocalResources.Resource.ButtonAddNew </li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section class="NewformTabs">
                <ul class="nav nav-tabs nav-top-border no-hover-bg">
                    <li class="nav-item"> <a class="nav-link active" id="base-tab11" data-toggle="tab" aria-controls="tab11" href="#tab11" aria-expanded="true">@GyanmitrasLanguages.LocalResources.Resource.Details</a> </li>
                    <li class="nav-item"> <a class="nav-link" id="base-tab12" data-toggle="tab" aria-controls="tab12" href="#tab12" aria-expanded="false">Bulk Upload</a> </li>
                </ul>
                <div class="tab-content px-1 py-1">
                    <div role="tabpanel" class="tab-pane active" id="tab11" aria-expanded="true" aria-labelledby="base-tab11">
                        <div class="row">

                            <div class="col-lg-10 offset-lg-1">
                                <div class="form form-horizontal">
                                    <div class="form-body">

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="eventRegInput1">State<span class="red">*</span></label>
                                            <div class="col-md-7">


                                                @Html.DropDownListFor(E => E.FK_StateId, new SelectList((System.Collections.IEnumerable)ViewData["StateList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control select2", })
                                                @Html.HiddenFor(E => E.FK_StateId)


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="eventRegInput1">User Role<span class="red">*</span></label>
                                            <div class="col-md-7">


                                                @Html.DropDownListFor(E => E.FK_RoleId, new SelectList((System.Collections.IEnumerable)ViewData["SiteUserRoleList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control select2", })
                                                @Html.HiddenFor(E => E.FK_RoleId)


                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="eventRegInput1">Academic Group<span class="red">*</span></label>
                                            <div class="col-md-7">


                                                @Html.DropDownListFor(E => E.FK_SearchCategoryId, new SelectList((System.Collections.IEnumerable)ViewData["SearchCategoryList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control select2", })
                                                @Html.HiddenFor(E => E.FK_SearchCategoryId)


                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="eventRegInput1">Benifit Type<span class="red">*</span></label>
                                            <div class="col-md-7">


                                                @Html.DropDownListFor(E => E.FK_SubSearchCategoryId, new SelectList((System.Collections.IEnumerable)ViewData["SubSearchCategoryList"], "ID", "Value"), @GyanmitrasLanguages.LocalResources.Resource.select, new { @class = "form-control select2", })
                                                @Html.HiddenFor(E => E.FK_SubSearchCategoryId)


                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="eventRegInput1">Heading<span class="red"></span></label>
                                            <div class="col-md-7">

                                                @Html.TextBoxFor(E => E.Heading, new { @class = "form-control" })
                                                @Html.HiddenFor(E => E.Heading)


                                            </div>
                                        </div>


                                        <div class="form-group row">
                                            <label class="col-md-3 label-control" for="eventRegInput1">Description<span class="red"></span></label>
                                            <div class="col-md-7">

                                                @Html.TextAreaFor(E => E.Description, new { @class = "form-control", @row = "5" })
                                                @Html.HiddenFor(E => E.Description)


                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">Resource Type</label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(E => E.ResourceType, new List<SelectListItem>()
                                                                                         {
                                               new SelectListItem() { Value = "", Text =  @GyanmitrasLanguages.LocalResources.Resource.select,Selected=true },
                                                new SelectListItem() { Value = "Video Embed Url", Text = "Video Embed Url"},
                                                                                           new SelectListItem() { Value = "Image", Text = "Image"},
                                                                                           new SelectListItem() { Value="PDF", Text="PDF"},
                                                                                           new SelectListItem() { Value="Word Document", Text="Word Document"},
                                                                                           new SelectListItem() { Value="Excel", Text="Excel"},
                                                                                         }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(E => E.ResourceType)
                                            </div>
                                        </div>



                                        <div class="form-group row" id="ResourceFileNameDiv" style="display:none">
                                            <label class="col-md-3 label-control">Resource Type</label>
                                            <div class="col-md-7">
                                                @Html.TextBoxFor(E => E.ResourceFileName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(E => E.ResourceFileName)
                                            </div>
                                        </div>


                                        <div class="form-group row" id="ResourceFileDiv" style="display:none">
                                            <label class="col-md-3 label-control" for="eventRegInput3">Resource File</label>
                                            <div class="col-md-7">
                                                <div class="custom-file">
                                                    @Html.TextBoxFor(E => E.ResourceFile, new { @type = "file", @class = "form-control", @onchange = "document.getElementById('blah').src = window.URL.createObjectURL(this.files[0])" })
                                                    @Html.ValidationMessageFor(E => E.ResourceFile)
                                                    Resource File Should be in (jpg, jpeg, png, xls, xlsx, pdf, doc) format.

                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                @if (string.IsNullOrEmpty(Model.ResourceFileName))
                                                {
                                                    <img style="height:40px;width:40px;" id="blah" src="~/SiteUserContents/default-image.png" />
                                                }
                                                else
                                                {
                                                    <img style="height:40px;width:40px;" id="blah" src="~/SiteUserContents/@Model.ResourceFileName" />
                                                }

                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-md-3 label-control">@GyanmitrasLanguages.LocalResources.Resource.Status</label>
                                            <div class="col-md-7">
                                                @Html.DropDownListFor(E => E.IsActive, new List<SelectListItem>()
                                                                                         {
                                                                                           new SelectListItem() { Value = "true", Text = @GyanmitrasLanguages.LocalResources.Resource.Active,Selected=true },
                                                                                           new SelectListItem() { Value="false", Text=@GyanmitrasLanguages.LocalResources.Resource.Inactive},
                                                                                         }, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(E => E.IsActive)
                                            </div>
                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab12" aria-labelledby="base-tab12">
                            <div class="row">
                                <div class="col-lg-10 offset-lg-1">
                                    <div class="form form-horizontal">
                                        <div class="form-body">

                                            <div class="form-group row">
                                                <label class="col-md-3 label-control">Upload File</label>
                                                <div class="col-md-7">

                                                    @Html.TextBoxFor(E => E.BulkUpload, new { @type = "file", @class = "form-control" })
                                                    @Html.ValidationMessageFor(E => E.BulkUpload)
                                                    Resource File Should be in (xls, xlsx) format.
                                                </div>
                                            </div>

                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="form-actions center">
                    <button type="submit" class="btn btn-primary box-shadow-1 round btn-min-width mr-1 mb-1"> @GyanmitrasLanguages.LocalResources.Resource.ButtonSubmit</button>
                    <a href='@Url.Action("Index")' class="btn btn-dark box-shadow-1 round btn-min-width mr-1 mb-1 bulkOutHide">@GyanmitrasLanguages.LocalResources.Resource.ButtonCancel</a>
                </div>

            </section>
        </div>
    </div>
}
<!--#endregion html  -->
<!--#region script  -->

@section scripts {
    @Scripts.Render("~/Admin/bundles/jqueryval")


    <link href="~/app-assets/vendors/css/forms/selects/select2.min.css" rel="stylesheet" />
    <script src="~/app-assets/vendors/js/forms/select/select2.min.js"></script>
    <script type="text/javascript" src="~/assets/js/moment.min.js"></script>
    <script type="text/javascript" src="~/assets/js/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/assets/css/daterangepicker.css" />

    <script type="text/javascript">

        $(document).ready(function () {


            $(".select2").select2();

            if ($("#Pk_UserId").val() != 0) {


            }

            $('#ResourceFile').change(function () {

                var ext = this.value.substr(this.value.lastIndexOf('.') + 1, this.value.length);
                switch (ext.toLowerCase()) {
                    case 'jpg':
                        break;
                    case 'jpeg':
                        break;
                    case 'png':
                        break;
                    case 'xsl':
                        break;
                    case 'xslx':
                        break;
                    case 'pdf':
                        break;
                    case 'doc':
                        break;

                    default:
                        alert('Invalid File format!');
                        this.value = '';
                }
            });

            $('#BulkUpload').change(function () {

                var ext = this.value.substr(this.value.lastIndexOf('.') + 1, this.value.length);
                switch (ext.toLowerCase()) {
                   
                    case 'xsl':
                        break;
                    case 'xslx':
                        break;
                   

                    default:
                        alert('Invalid File format!');
                        this.value = '';
                }
            });

            $("#ResourceType").change(function () {
                if ($(this).val() == "Video Embed Url") {
                    $("#ResourceFileNameDiv").slideDown(500);
                    $("#ResourceFileDiv").slideUp(500);
                }
                else {
                    $("#ResourceFileDiv").slideDown(500);
                    $("#ResourceFileNameDiv").slideUp(500);
                }
            });

        });


    </script>
}
<!--#endregion script  -->