@model GyanmitrasMDL.User.StudentMDL

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/assets/css/sumoselect.css" rel="stylesheet" />


<h2>@ViewBag.Title</h2>
<hr />
@using (Html.BeginForm("Registration", "Student", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Partial("_StudentRegistration", (GyanmitrasMDL.User.StudentMDL)ViewBag.Registration)


}
@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/assets/js/jquery.sumoselect.js"></script>
    <link href="~/app-assets/vendors/css/forms/selects/select2.min.css" rel="stylesheet" />
    <script src="~/app-assets/vendors/js/forms/select/select2.min.js"></script>



    <style>
        .field-validation-error, .red {
            color: red;
        }
    </style>
    <script type="text/javascript">
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
        var mycategoryval = new Array();
        var mycategorytext = new Array();
        $(document).ready(function () {


            BindAreaOfInterest("counselor");
            StateBind();
            LanguageBind();
            EducationType();
           // EducationSubCategoryType();
           // StreamType();
           // BoardType();
            $(".select2").select2();


            //$("button[type='submit']").click(function (e) {
            //    alert('Comming Soon!');
            //    return false;
            //});




            $("#FK_StateId").change(function () {
                var cid = $(this).val();
                var thisId = $(this).attr('id');
                var countryId = 1;
                if (thisId == "FK_StateId") {
                    countryId = 1;
                    $("#FK_CityId").empty();
                    $("#FK_CityId").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
                }

                var input = { stateId: parseInt(cid) };
                $.ajax({
                    url: "@Url.Action("GetCityDetailsByStateId", "MSTAccount")",
                    data: JSON.stringify(input),
                    datatype: "json",
                    type: "POST",
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        var Machinelist = new Array();
                        if (data.length == 0) {
                            $(this).val('');
                        }
                        else {
                            for (var i = 0 ; i < data.length ; i++) {
                                $("#FK_CityId").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                            }
                        }
                    }


                });
            });



            $('INPUT[type="file"]').change(function () {

                var ext = this.value.substr(this.value.lastIndexOf('.') + 1, this.value.length);
                switch (ext.toLowerCase()) {
                    case 'jpg':
                        break;
                    case 'jpeg':
                        break;
                    case 'png':
                        break;

                    default:
                        alert('@GyanmitrasLanguages.LocalResources.Resource.InvalidLogo');
                        this.value = '';
                }
            });





        })//Page Load End

        /*Start Bind Vehicles By Customer Using Sumo Select  */
        function BindAreaOfInterest(type) {
            //debugger
            $('#AreaOfInterest').html('');
            $('#AreaOfInterest').SumoSelect({ okCancelInMulti: true, selectAll: true, csvDispCount: 3 });
            $('#AreaOfInterest')[0].sumo.unload();
            $('#AreaOfInterest').SumoSelect({ okCancelInMulti: true, selectAll: true, csvDispCount: 3, });

            $.ajax({
                url: "@Url.Action("BindAreaOfInterestList", "Counselor")",
                type: "GET",
                dataType: "JSON",
                async: false,
                data: { 'type': type },
                success: function (Tags) {
                    //debugger
                    if (Tags.length > 0) {
                        $.each(Tags, function (i, Tag) {
                            //debugger
                            $('#AreaOfInterest')[0].sumo.add(Tag.ID, Tag.Value);
                            $('#AreaOfInterest').SumoSelect({ okCancelInMulti: true, selectAll: true, csvDispCount: 3, });
                        });

                    }

                }

            });
        }

        function StreamType(educationtype) {
              $("#StreamType").empty();
              $("#StreamType").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
            var input = { EducationType:educationtype };
            $.ajax({
                url: "@Url.Action("GetStream", "Home")",
                data: JSON.stringify(input),
                datatype: "json",
                async: false,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var Machinelist = new Array();
                    if (data.length == 0) {
                        $(this).val('');
                    }
                    else {
                        for (var i = 0 ; i < data.length ; i++) {
                            $("#StreamType").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                        }
                    }
                }
            });
        }
        function LanguageBind() {
            $("#languages").empty();
            $("#languages").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
            var input = { countryId: parseInt("1") };
            $.ajax({
                url: "@Url.Action("GetLanguages", "Home")",
                data: JSON.stringify(input),
                datatype: "json",
                async: false,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var Machinelist = new Array();
                    if (data.length == 0) {
                        $(this).val('');
                    }
                    else {
                        for (var i = 0 ; i < data.length ; i++) {
                            $("#languages").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                        }
                    }
                }
            });
        }

        function StateBind() {
            $("#FK_StateId").empty();
            $("#FK_StateId").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
            var input = { countryId: parseInt("1") };
            $.ajax({
                url: "@Url.Action("GetStateDetailsByCountryId", "MSTAccount")",
                data: JSON.stringify(input),
                datatype: "json",
                async: false,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var Machinelist = new Array();
                    if (data.length == 0) {
                        $(this).val('');
                    }
                    else {
                        for (var i = 0 ; i < data.length ; i++) {
                            $("#FK_StateId").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                        }
                    }
                }
            });
        }

        function CheckUserName(a) {
            if ($.trim($(a).val())) {
                $.ajax({
                    url: "@Url.Action("CheckUser", "MSTAccount")",
                    type: "GET",
                    dataType: "JSON",
                    data: { username: $.trim($(a).val()), type: "Counselor" },
                    success: function (data) {
                        if (Number(data.MessageId) == 1) {
                            $(a).css('border', '1px solid red');
                            $(a).val('');
                            //$(a).focus();
                            $(a).parent().find('span[data-valmsg-for="Username"]').text('@GyanmitrasLanguages.LocalResources.Resource.UserAlreadyExist').css('color', 'red');
                        }
                        else {
                            $(a).removeAttr('style');
                            $(a).parent().find('span[data-valmsg-for="Username"]').text('');
                        }
                    }
                });
            }
        }



        function IsNum(event) {
            // Prevent shift key since its not needed
            if (event.shiftKey == true) {
                //alert('Only number allowed.');

                event.preventDefault();
                return false;
            }
            // Allow Only: keyboard 0-9, numpad 0-9, backspace, tab, left arrow, right arrow, delete
            if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46) {
                // Allow normal operation
            } else {
                // Prevent the rest
                alert('@GyanmitrasLanguages.LocalResources.Resource.OnlyNumber');
                event.preventDefault();
                return false;
            }
        }


        function EducationType() {

            $("#divclass").hide();
            $("#divof12").hide();
              $("#TypeOfEducation").empty();
              $("#TypeOfEducation").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
              $("#TypeOfEducation").append('<option value = "Secondry">Secondry</option>');
              $("#TypeOfEducation").append('<option value = "Higher Secondry">Higher Secondry</option>');
              $("#TypeOfEducation").append('<option value = "Graduation">Graduation</option>');
          
        }
        $("#TypeOfEducation").change(function () {
            $("input[name=CompletionNature]").attr('checked', false);
            $('#divpercentage').hide();
            EducationSubCategoryType();


            })
        function EducationSubCategoryType() {
            $("#BoardType").empty();
            $("#BoardType").rules("add", {
                required: true,
                messages: {
                    required: "Select Board"
                }
            });

            $("#Current_Education_subcategory").rules("add", {
                required: true,
                messages: {
                    required: "Select Class"
                }
            });
            $("#StreamType").empty();
            $("#StreamType").rules("add", {
                required: true,
                messages: {
                    required: "Select Stream"
                }
            });
            $('#divforgraduation').hide();
            $('#divlessthan10').hide();
             $("#Current_Education_subcategory").empty();
             $("#Current_Education_subcategory").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
             var typeofeducation = $("#TypeOfEducation").val();
             if (typeofeducation == "") {
                 $('#divpreviouseducationdetails').hide();
                 $("#divclass").hide();
                 $("#divlessthan10").hide();
                 $("#universitydetails").hide();
                 $("#currentboarddetails").hide();
                 $("#divof12").hide();
                 $("#universitydetails").hide();

             }
             else if (typeofeducation == "Secondry") {

                 $("#StreamType").rules("remove", "required");
                 $('#divpreviouseducationdetails').hide();
                 $("#divclass").show();
                 $("#divlessthan10").show();
                 $("#currentboarddetails").show();
                 $("#universitydetails").hide();
                 $("#divof12").hide();
                 $("#Current_Education_subcategory").append('<option value = "6">6</option>');
                 $("#Current_Education_subcategory").append('<option value = "7">7</option>');
                 $("#Current_Education_subcategory").append('<option value = "8">8</option>');
                 $("#Current_Education_subcategory").append('<option value = "9">9</option>');
                 $("#Current_Education_subcategory").append('<option value = "10">10</option>');
                 BoardType();
             }
             else if (typeofeducation == "Higher Secondry") {
                 $('#divpreviouseducationdetails').hide();
                 $("#universitydetails").hide();
                 $("#currentboarddetails").show();
                 $("#divlessthan10").hide();
                 $("#divclass").show();
                 $("#divof12").show();
                 $("#Current_Education_subcategory").append('<option value = "11">11</option>');
                 $("#Current_Education_subcategory").append('<option value = "12">12</option>');
                 StreamType('Higher Secondry');
                 BoardType();
             }
             else {

                 $("#Current_Education_subcategory").rules("remove", "required");
                 $("#BoardType").rules("remove", "required");
                 $('#divpreviouseducationdetails').hide();
                 $("#universitydetails").show();
                 $("#currentboarddetails").hide();
                 $("#divlessthan10").hide();
                 $("#divclass").hide();
                 $("#divof12").show();
                 StreamType('Graduation');
             }

        }
        $("#Current_Education_subcategory").change(function () {
            $('#divpercentage').hide();
            $('#divpreviouseducationdetails').hide();
            $("input[name=CompletionNature]").attr('checked', false);
         })

        function BoardType() {

            $('#divpreviouseducationdetails').hide();

            $("#PreviousBoardType").empty();
            $("#PreviousBoardType").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
            $("#BoardType").empty();
            $("#BoardType").append('<option value = "">@GyanmitrasLanguages.LocalResources.Resource.select</option>');
          //  var input = { countryId: parseInt("1") };
            $.ajax({
                url: "@Url.Action("GetBoardType", "Home")",
                data: {},
                datatype: "json",
                async: false,
                type: "POST",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    var Machinelist = new Array();
                    if (data.length == 0) {
                        $(this).val('');
                    }
                    else {
                        for (var i = 0 ; i < data.length ; i++) {
                            $("#PreviousBoardType").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                            $("#BoardType").append('<option value = "' + data[i].ID + '">' + data[i].Value + '</option>');
                        }
                    }
                }
            });
        }

        $('input[type=radio][name=CompletionNature]').change(function () {
          //  if (this.value == 'Completed' && $("#TypeOfEducation").val() != "Graduation") {
            $('#Percentage').val('');
            $('#TotalAggregatetillnow').val('');
            $('#Current_semester').val('');
           // $('#UniversityName').val('');
            $('#PreviousBoardType').val('');
            $('#PreviousclassPercentage').val('');

            if (this.value == 'Completed') {
                $('#divpercentage').show();
                $('#divforgraduation').hide();
                $('#divpreviouseducationdetails').hide();
                $("#Percentage").rules("add", {
                    required: true,
                    messages: {
                        required: "Enter Percentage"
                    }
                });
                $("#PreviousBoardType").rules("remove", "required");
                $("#PreviousclassPercentage").rules("remove", "required");
                $("#TotalAggregatetillnow").rules("remove", "required");
                $("#Current_semester").rules("remove", "required");
                $("#UniversityName").rules("remove", "required");
            }
            else if (this.value == 'Pursuing' && $("#TypeOfEducation").val() == "Graduation") {
                $('#divpercentage').hide();
                $('#divforgraduation').show();
                $('#divpreviouseducationdetails').hide();
                $("#PreviousBoardType").rules("remove", "required");
                $("#PreviousclassPercentage").rules("remove", "required");
                $("#TotalAggregatetillnow").rules("add", {
                    required: true,
                    messages: {
                        required: "Enter Percentage"
                    }
                });
                $("#Current_semester").rules("add", {
                    required: true,
                    messages: {
                        required: "Enter Current Semester"
                    }
                });
                $("#UniversityName").rules("add", {
                    required: true,
                    messages: {
                        required: "Enter University Name"
                    }
                });
                $("#Percentage").rules("remove", "required");

            }
            else if (this.value == 'Pursuing' && $("#TypeOfEducation").val() != "Graduation") {
                $("#PreviousclassPercentage").rules("add", {
                    required: true,
                    messages: {
                        required: "Enter Percentage"
                    }
                });
                $("#PreviousBoardType").rules("add", {
                    required: true,
                    messages: {
                        required: "Select Board"
                    }
                });

                $("#Percentage").rules("remove", "required");
                $("#UniversityName").rules("remove", "required");
                $("#Current_semester").rules("remove", "required");
                $("#TotalAggregatetillnow").rules("remove", "required");
                $('#divpercentage').hide();
                $('#divpreviouseducationdetails').show();
                $('#divforgraduation').hide();
                previousclassdetails();
            }
        });

        function previousclassdetails() {
            var currentclass = $("#Current_Education_subcategory").val();
            var prevclass = currentclass - 1;
            if (currentclass <= 10) {

                $('#previousclass').text(prevclass);
            }
            else if (currentclass > 10) {
                $('#previousclass').text('10');
                $('#previousboard').show();

            }

        }
        $("#btnsubmit").click(function () {
            checkdeclaration();
        });
        function checkdeclaration() {
            var x = document.getElementById("Declaration").checked;
            if (x == false) {
                alert('check declaration');
            }
        }
      
    </script>
}